[2020-07-27 03:37] OzBob commented on #3463
@ANovitsky if you have a current issue could you please open a new one and mention this issue 3463, please.

[2020-07-28 13:54] ansgarm commented on #3267
How did you solve it? I noticed the same behavior of autorest dropping properties that only have a single value valid specified via `enum`.

[2020-07-28 19:25] lmazuel opened #3643 "Add a default list of headers ignore"
There is some headers are known to be handled correctly by track2 SDK by default and we don't want to appear in method signature and generated code, that we might wish to document in Swagger/RestAPI doc.

This issue about when we recognized those headers, they shall not be generated in any `headers` of M4. This allows correct documentation for customers of RestAPI and external consumers of Swagger

[2020-07-29 08:01] fgreinacher opened #3552 "Ignore TLS issues in TS/JS client?"
Is it possible to configure the generated TS/JS client so that TLS issues are ignored? Similar to passing `rejectUnauthorized: false` to `http.request`/`fetch`.

[2020-07-29 10:14] Keschke commented on #3267
I did nothing. Maybe the fixed it with some update.
With the above used swagger.json the generated client BaseUri gets the port,

[2020-07-29 18:37] lukewis commented on #3428
I'm new to this repo/tool chain but am trying to investigate this issue.  Can anyone point me to how to run autorest locally after I clone the repo?  I have it building, but can't figure out where the build "output" goes....

[2020-07-30 02:50] annelo-msft opened #3559 "Request: Add line numbers to errors"
It would be convenient and handy to know what line number caused this issue:

![image](https://user-images.githubusercontent.com/21269347/88874733-a03f5b00-d1d4-11ea-8625-393e89e1407a.png)

[2020-07-30 14:07] lukewis commented on #3428
Well, I did get things running locally, but I'm not much closer to finding the issue.  I had to add the following line to app.ts because it was complaining that isDebuggerEnabled was not defined.  Maybe a configuration issue with the launch.json?   I'm not sure.
[code]
My next step is to try to figure out how to get VSCode to break on an unhandled exception cause the line that's throwing is called

[2020-07-30 14:16] lukewis commented on #3428
Of interest, I tried reverting to OpenAPI v2 format and I get the same error

[2020-07-30 14:56] Sergey-Maystrenko commented on #2012
Hi,
I have the same problem with latest version of the Autorest
Could you please check code again.

[2020-07-30 18:24] ctaggart commented on #3502
I would really like to see a AutoRest extension for Rust added as well. In fact, I would love to work on it at work if the opportunity came about. Meanwhile, I looked into what it would take to get this started and lay out what I think would work best for the architecture. I think it would be best to build the extension in Rust and target [WASI](https://github.com/WebAssembly/WASI). Rust has great

[2020-07-30 19:09] lukewis commented on #3428
Indeed, converting to an object that has a parameterless constructor seemed to resolve this error.  Would still like to fix the underlying issue if anyone has any tips!

[2020-07-31 16:18] pnquest opened #3555 "Core and Extensions Are Extremely Slow to Load"
## Versions
**Autorest version**: 3.0.6187
**Node version**: 12.18.1
**@autorest/core**: 3.0.6302
**@microsoft.azure/autorest.csharp**: 2.3.82
**@microsoft.azure/autorest.modeler**: 2.3.47
**OS**: Windows 10

## Current Behavior
Any command including the `--csharp` flag spends multiple minutes sitting with the output
[code]
Once this extremely long wait is complete messages for the modules loading

[2020-07-31 19:41] TylerLeonhardt opened #3556 "Running `autorest -h` in any folder throws TypeError"
Steps to repro:

[code]

[2020-08-03 10:49] TimMullender opened #3557 "Calling POST operations from the generated Java client without a body cause an error if the body is optional"
Given a definition that contains a POST operation with an optional body parameter.
`autorest --java --azure-arm=true ... ` will generate an implementation that contains two methods, one that takes a body and one that doesn't and a retrofit service with a single method that expects a body.  The implementation that has no body will pass null to the service for the body parameter.  However retrofit d

[2020-08-03 14:14] estoel81 opened #3558 "Unable to start AutoRest Core"
When I try to run autorest, it won't start. Also, there is no message stating what the error is. Why does it not start?

[code]

[2020-08-03 20:43] pakrym commented on #3559
cc @daviwil

[2020-08-04 03:15] priyankajayaswal1 commented on #3373
Is there a way that this get's resolved in autorest itself instead of using a custom workaround? I am facing the same issue.

[2020-08-04 03:34] akak1977 commented on #3373
Unfortunately, no one was provide another resolution. If you have an issue on newer autorest version, the problem still exists.

[2020-08-04 17:22] anganti commented on #3048
I am still seeing similar issues. Is there a specific way to resolve this issue

autorest --version:3.0.6306  --typescript --input-file:c:\Connectors-SDK\src\AzureConnectorsSdk.Tests\SampleFiles\office365-openapi.json
AutoRest code generation utility [cli version: 3.0.6187; node: v12.16.3, max-memory: 8192 gb]
(C) 2018 Microsoft Corporation.
https://aka.ms/autorest
   Loading AutoRest core      'C

[2020-08-04 17:25] fearthecowboy commented on #3048
if you have `x-ms-*` things that are not in autorest's schema you can add `--pass-thru:schema-validator` on the command line.

[2020-08-04 17:29] anganti commented on #3048
@fearthecowboy  Thank you for the prompt response.

unfortunately that flag dint resolve the issues :(

C:\Connectors-SDK>autorest --version:3.0.6306  --typescript --pass-thru:schema-validator --input-file:c:\Connectors-SDK\src\AzureConnectorsSdk.Tests\SampleFiles\office365-openapi.json
AutoRest code generation utility [cli version: 3.0.6187; node: v12.16.3, max-memory: 8192 gb]
(C) 2018 Microsoft

[2020-08-04 17:38] anganti commented on #3048
This helped --pass-thru:schema-validator-swagger

[2020-08-04 17:38] fearthecowboy commented on #3048
Hmm. I think something changed a while back and I don't recall when.

try `--pass-thru:schema-validator-swagger` for swagger (openapi2)
or `--pass-thru:schema-validator-openapi` for OpenAPI3

Weird.  I really don't recall that getting split

[2020-08-04 17:46] anganti commented on #3048
Thank you!!

[2020-08-05 09:16] EngineerCoding commented on #1876
I am having issues with this as well, and this is caused because the rest client checks specifically for status code 2o, which means that 204 gets denied hard.

[2020-08-05 09:57] kant2002 opened #3560 "Autorest does not start code generation"
When invoking autorest in folder with working literate MD file nothing generated. When switch to Node 12 or
[code]

when run ` autorest --version=3.0.5537`
everything become normal

[code]

[2020-08-05 20:14] anganti commented on #1207
@olydis Is this still supported today? I dont see it as a option anymore.

[2020-08-06 03:56] priyankajayaswal1 commented on #3527
I am facing a similar issue while installing autorest:

[code]

Configuration:

root@82c9815da6b7:/# node -v
v12.3.0
root@82c9815da6b7:/# npm -v
6.9.0
root@82c9815da6b7:/#

This is in linux docker image - mcr.microsoft.com/dotnet/core/sdk:3.1
Let me know if you may help me on this.

[2020-08-07 12:44] priyankajayaswal1 opened #3561 "Autorest in CDPX linux pipeline failure - '@autorest/core' @ '~3.0.0'"
I have installed autorest@3.0.6187 in my recent linux cdpx pipeline and it is locally running fine for the same docker image locally with autorest installed. I checked the pipeline npm modules list in pipeline and local to compare what might be going wrong, but there seems to be no difference. Wanted to check if someone has done something in past or may redirect me to relevant references.

PF pipe

[2020-08-08 05:50] aelij opened #3562 "Better support for patch schemas"
Currently we need to define the PATCH schema separately, even though it is almost always a subset of the PUT schema.
I propose to add an extension that tackles this. For example:

[code]

In combination with `x-ms-mutability` this would clearly define the PATCH schema.

[2020-08-08 08:12] priyankajayaswal1 commented on #2737
Hey, I am facing this and the solution doesn't resolve my issue. Would appreciate it if someone may help me with this.
[code]

I am creating chsarp and python both clients

[2020-08-08 08:14] priyankajayaswal1 commented on #2737
@fearthecowboy wanted to check what may cause this.

[2020-08-10 06:26] douyoung commented on #3502
There was a similar request but covering more languages: https://github.com/Azure/autorest/issues/2452. I would love to see a Rust client generator too but I don't think the autorest team plans to support more languages in this project. Even the PHP support was dropped earlier due to the [reorg](https://github.com/Azure/autorest/issues/3064#issuecomment-557661090).

[2020-08-12 13:30] dsynclabsllc commented on #3447
I am also getting a similar error
autorest --v3 --input-file="C:\Users\PrimaryUser\AppData\Local\Temp\AutoRestConnectedService\2020_Aug_12_09_25_26\swagger.json" --csharp --namespace=MyProject.PaymentService --override-client-name=MyProjectPaymentServiceClient --output-folder="C:\Users\PrimaryUser\AppData\Local\Temp\AutoRestConnectedService\2020_Aug_12_09_25_26"
Opening
Opened
AutoRest code genera

[2020-08-14 03:09] priyankajayaswal1 commented on #3492
I am using swagger spec 3.0.1 to generate a python client using autorest. I see varied behavior with different versions.
Observation:
[code]
Can you help us figure out either:
1. How to use the clients generated using ```azure.core```
2. How to fix above issues so that somehow we may create client with base_url support.

[2020-08-14 03:12] priyankajayaswal1 opened #3563 "Inconsistent behavior with different autorest versions."
I am using swagger spec 3.0.1 to generate a python client using autorest. I see varied behavior with different versions.
Observation:
[code]
Can you help us figure out either:
1. How to use the clients generated using ```azure.core```
2. How to fix above issues **even manually meantime** so that somehow we may create client with base_url support.

Related to issue: https://github.com/Azure/autores

[2020-08-14 03:21] priyankajayaswal1 commented on #3561
I was able to make it work after adding below commands in restore phase.
``
autorest --python --latest
autorest --csharp --latest
[code]

[2020-08-14 03:21] #3561 closed

[2020-08-14 07:27] priyankajayaswal1 commented on #3563
Is there a baseline validator tool for swagger 3.0 spec?

[2020-08-15 17:17] ctaggart opened #3565 "no output when using --use"
It works and I get output with:
[code]

However, it does not work if I do:
[code]

# output for --go
[code]

# output for --use:@microsoft.azure_autorest.go@2.1.153
[code]

[2020-08-15 21:02] ctaggart commented on #3565
I see, it appears passing `--go` is still required. These commands all work:
[code]

What do you pass for a new extension for a new language?

[2020-08-15 21:02] #3565 closed

[2020-08-17 10:55] Y-Sindo opened #3566 "Fail on Ubuntu 20.04 LTS on WSL"
The same MD and JSON file work on Windows 10 with the same Node version , while fail on WSL.
[log.txt](https://github.com/Azure/autorest/files/5083759/log.txt)
[input-file](https://github.com/Azure/azure-rest-api-specs/blob/145513669e3d329e1549d714877ba720d8f0d253/specification/signalr/data-plane/AzureSignalR/v1/azuresignalr.json)
# Azure SignalR Service REST API

This is the AutoRest configuratio

[2020-08-17 14:51] iscai-msft commented on #3563
@priyankajayaswal1 it looks like this error is thrown before it actually reaches the "python" part of the pipeline. For autorest core and modelerfour parse the swagger and output it to the python generation, these errors look like they're thrown while parsing the swagger file. These steps have also changed with the new autorest, which is probably why you're seeing this different behavior.
I'm not

[2020-08-17 16:58] daviwil commented on #3566
This line provides a hint:

[code]

Try running `sudo apt install libssl-dev` and try AutoRest again.

[2020-08-18 04:25] Y-Sindo commented on #3566
Thanks. This works. But a new exception was thrown: [Exception] No input files provided.

[2020-08-19 06:37] Y-Sindo commented on #3566
Sorry, I found Ubuntu 20.04 is not supported yet.

[2020-08-19 06:37] #3566 closed

[2020-08-19 09:07] nicw19 commented on #3502
You may want to try [OpenAPI Generator](https://openapi-generator.tech/) for the time being as it comes with both Rust client and server generators. The output needs some minor tweaks though for my use cases.

[2020-08-20 15:35] dpwatrous commented on #2812
Is there a reason this was closed? Deprecation warnings are an extremely important tool to communicate what parts of the API users can rely on, and to help them avoid unexpected breakages on upgrades.

[2020-08-22 21:02] SamWalkerRxSense opened #3567 "FileUpload Powershell build-module fails The parameter '{{param}}' has multiple parameter types [...] defined"
Hi, I'm new to all this, so I suspect I'm doing something wrong, but I can't figure out what.

I have this swagger json.
[code]

I ran this
[code]

Thanks for any help.

This is actually part of a much larger set of API, but I narrowed the error down to this particular path.
Now, I'm manually deleting this path from the swagger json so it will build, which works, but it's not ideal.

[2020-08-25 13:59] priyankajayaswal1 opened #3568 "EXEC : error : Unable to acquire shared lock on '/home/.autorest' before timeout 20000 msec."
Wondering if anyone has seen this. This might not be an autorest. Just wondering if anyone has seen this and might help.

[2020-08-25 14:07] priyankajayaswal1 commented on #3568
As already stated might not be due to autorest.
Reinstalled autorest, it started working as expected

[2020-08-25 14:07] #3568 closed

[2020-08-25 19:30] s0nders opened #3569 "FATAL ERROR: invalid array length Allocation failed - JavaScript heap out of memory"
Trying to figure out what I need to edit/change to finish building out this project : https://sonicos-api.sonicwall.com/sonicos_files/default/sonicos_openapi.yml

Is this purely an issue with node.js or is something else potentially causing an issue.

Thank you!

<--- Last few GCs --->

[26824:0000021BF4DA7600]  1328337 ms: Scavenge 3857.1 (3895.8) -> 3842.0 (3896.8) MB, 8.0 / 0.0 ms  (average mu

[2020-08-25 19:50] #3569 closed

[2020-08-25 20:58] s0nders opened #3570 "FATAL ERROR: invalid array length Allocation failed - JavaScript heap out of memory"
Trying to figure out what I need to edit/change to finish building out this project : https://sonicos-api.sonicwall.com/sonicos_files/default/sonicos_openapi.yml

Is this purely an issue with node.js or is something else potentially causing an issue.

Thank you!

Command :
`autorest --powershell --input-file:.\SonicOSAPI1.yaml --v3`

Output :
[code]

AutoRest code generation utility [cli version:

[2020-08-25 21:51] mhoeger opened #3571 "Array type on "default" property not accepted"
Here is roughly my swagger file:

[code]

When I run autorest on this swagger file, it throws the following exception. The way to work around it is to remove the default value, but I think that a default array value should be accepted

[code]

[2020-08-25 22:31] s0nders commented on #3570
Increasing the Memory assigned 10 16GB's doesnt seem to help, set $ENV:NODE_OPTIONS= '--max-old-space-size=16384'. No change :/

[2020-08-26 11:48] aborja79 opened #3572 "Generate classes with full class scheme names"
I'm trying to use autorest, but I need use swagger with full name because I have duplicated classes in different namespaces.
In SwaggerConfig I have c.UseFullTypeNameInSchemaIds() actived.
For example I have a PortalesBackend.Domain.Datos.CentroProcedencia class but autorest generated class name is PortalesBackendDomainDatosCentroProcedencia.
Could I fix it?
Thank you

[2020-08-26 14:33] mitsha-microsoft opened #3573 "Multiple inheritance giving issues in python client generation (_subtype_map)"
I have an interface and an abstract class in this way
[code]
There are few classes that inherit + implement both and some of them implement either one of them, for (the lack of better?) example

[code]

The respective OpenApi spec that is created looks like this (relevant part)
[code]

Since there is no support for `anyOf` or `oneOf` in the current version of AutoRest and `allOf` can only be one,

[2020-08-26 15:00] ohadschn commented on #3524
Looks like a duplicate of https://github.com/Azure/autorest/issues/3492

[2020-08-26 15:03] mitsha-microsoft commented on #3573
I assume this was also mentioned in #1180 and it was said in that one that support will be added later.

[2020-08-26 19:24] finalcut commented on #3555
It seems super slow for myself and my team as well.

[code]
As it starts these two lines are logged to the console and then it takes well over 10 minutes before it finishes

[code]

It is hard to tell if it is doing anything during the time it is running..

Here is the command to execute:

[code]

And the config json:

[code]

The API has about 100 models it is processing as part of this

[2020-08-31 15:50] mrcunninghamz opened #3577 "C# AutoRest Generates code that blows out BaseUrl parameters"
In the case that a swagger document doesn't show the `api-version` parameter for a particular endpoint...
(this is a limitation that we ran into with Azure APIM implantation of api versioning via parameter)

We are attempting to include the parameter as part of the base URL.

[code]

Unfortunately the code generated by autorest blows away any parameters in the url:

[code]

If its possible afterwa

[2020-09-02 04:06] anuchandy opened #3579 "Http-Verb of "OperationName" in x-ms-pageable is ignored"
The below swagger uses the `operationName` attribute of `x-ms-pagable` to declare the method to retrieve the next pages. The first page and next page retrieval required to use `POST` verb.

It seems AutoRest is ignoring the declared HTTP Verb for the next page method, instead it defaults to GET.

<img width="439" alt="Screen Shot 2020-09-01 at 9 03 39 PM" src="https://user-images.githubusercontent

[2020-09-02 04:06] anuchandy opened #3642 "Http-Verb of "OperationName" in x-ms-pageable is ignored"
The below swagger uses the `operationName` attribute of `x-ms-pagable` to declare the method to retrieve the next pages. The first page and next page retrieval required to use `POST` verb.

It seems AutoRest is ignoring the declared HTTP Verb for the next page method, instead it defaults to GET.

Also, the nextPage operation in the below swagger has a body parameter, the only parameter we can see

[2020-09-02 14:59] ohadschn opened #3580 "Use the jsonpath-plus package for JSONPath evaluation"
The current jsonpath implementation is the following:
https://www.npmjs.com/package/jsonpath

There is a more advanced package which supports crucial features such as `@path`/`@parent`/`@property`/`@parentProperty`/`@root` shorthand selectors within filters: https://www.npmjs.com/package/jsonpath-plus

Please consider upgrading to it, we want to be able to do stuff like this:
[code]

[2020-09-07 20:56] kgreed commented on #3305
I am experiencing similar issues  [reporting here](https://stackoverflow.com/questions/63783800/data-does-not-match-any-schemas-from-oneof)

[2020-09-08 08:35] priyankajayaswal1 opened #3581 "Can we specify what line ending to create clients in via commandline parameters."
The use case is that our dev machine is windows and WSL2 and our pipeline is in Linux. We have enabled LF in VScode and VS. We tend to see autorest generated clients as CRLF always, since we mostly run it in windows. Is there a way we may parametrize the line endings for clients in windows at the time of client generation?

[2020-09-09 23:16] dwaijam opened #3583 "Schema violation: Data does not match any schemas from 'oneOf'"
Autorest C# SDK generation is failing

 autorest  --input-file=Abc.json --csharp --output-folder=Generated --namespace=Microsoft.Azure.CognitiveServices.Abc --override-client-name=AbcClient --add-credentials --pass-thru:schema-validator --verbose
AutoRest code generation utility [cli version: 3.0.6244; node: v12.16.1, max-memory: 8192 gb]
(C) 2018 Microsoft Corporation.
https://aka.ms/autorest
NOT

[2020-09-10 12:06] marklindell opened #3584 "error "TypeError: value.indexOf is not a function" when using property with name "$ref""
test.yml
[code]

Command:
`autorest --csharp --input-file=test.yml --v3 --debug`

Result:
[code]

[2020-09-10 17:05] iscai-msft opened #3641 "Swagger comments with \U, \N have errors generating"
**Describe the issue**
@richardpineo opened an [issue](https://github.com/Azure/autorest.python/issues/84) against old autorest about errors with \U or \N in the docstrings. It appears now that modelerfour throws an error . I think the behavior we have now is valid (throwing with these tokens), but wanted to open this up for discussion to hear what you think @daviwil @richardpineo

![image](https:

[2020-09-10 22:06] catalinaperalta opened #3640 "Distinct schemas for the same host parameter"
Getting distinct schema references for endpoint parameter in Form recognizer, it is being referenced with distinct schemas up to 7 times.

Form recognizer for reference: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cognitiveservices/data-plane/FormRecognizer

Used the autorest command with tag: release_2_0

[2020-09-10 22:39] audunn opened #3585 "c# validation nullable value"
Hi,
We have a swagger spec with a value that is conditional/optional i.e. can be null with some validation constraints this is presented like so:
[code]

This causes issues with c# generated SDK where the validation code does not allow null values.

[code]

Is it possible to present this in the swagger so that the validation in the generated code handles null values correctly?

[2020-09-11 14:38] iscai-msft opened #3639 "Refuse to generate if operation has just exceptions"
@lmazuel said he would add a linter rule for this. Low priority, but if you think it's useful, can you throw in cases like this? Moving https://github.com/Azure/autorest.python/issues/511 here

[2020-09-11 20:57] dwaijam commented on #3583
Any update on this one ?

[2020-09-14 19:14] RupengLiu opened #3587 "Error running autorest commands"
While I was running any commands of autorest, I got error like, but didn't get error by running other npm module
![image](https://user-images.githubusercontent.com/29927264/93128152-eae13d80-f683-11ea-9795-82573920cdcc.png)

even after try increase the space size
![image](https://user-images.githubusercontent.com/29927264/93128256-0ea48380-f684-11ea-86d8-6069a72d13f2.png)

[2020-09-15 15:05] binaryroc commented on #2748
@fearthecowboy where can I find the discussion on Odata support for vNext? Thanks.

[2020-09-15 16:56] HakanL opened #3588 "Version specified in readme.md seems to be ignored"
I have a readme.md file that has the yaml section. It picks up the input file and settings just fine, but the version is ignored. I have to force it from command line. Am I missing something?
[code]
I have latest AutoRest installed (3.0.6318) and it's just using that version (which throws an error with additionalProperties, version 6244 works).

[code]
Note that it says **autorest_core@3.0.6318**.

[2020-09-15 22:21] pakrym opened #3638 "Move base uri to an operationGroups level"
Considering all `uri` values are the same across operations (
https://github.com/Azure/autorest.csharp/blob/feature/v3/test/TestServerProjects/custom-baseUrl-paging/CodeModel.yaml#L291)
and python already picks the first one and runs with it https://github.com/Azure/autorest.python/blob/54572612a65c8cdc9aa330dda2bd29e25c0f705e/autorest/codegen/__init__.py#L80-L82

I propose to move the value to an

[2020-09-16 03:33] dolauli opened #3637 ""format" is dropped for password string"
**Describe the issue**
A schema sample for password is as below. Currently, m4 simply drops the format and hands it as a normal string
[code]
**Potential solution**
Add a password type or carry across the format info

[2020-09-16 03:57] dolauli opened #3635 "Parent without additional properties comparing with parent's parent will be dropped"
**Describe the issue**
In M4, for an example like below, the Configuration actually treats 'Resource' instead of 'ProxyResource' as parent, which is incorrect. The sample swagger is MySql, which could be found in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json#L1551.

[code]

[2020-09-17 00:06] daviwil commented on #3588
Hey @HakanL, I have also noticed this recently, I'll look into it soon.

[2020-09-17 11:01] cyptus opened #3591 "inconsistent custom extensions in code-model"
using a simple component schema like

[code]

does generate the following properties for `Person` in `code-model-v1`:

[code]

by using

`autorest --input-file=api.yaml --v3 --typescript`

The code-model is missing the extension `x-include` for the property "name", as the code-model generation does only generate the extensions for type `integer` but not for types like `string` or `object`.

As the

[2020-09-17 20:01] ShivangiReja opened #3593 "Disable unnecessary warnings to surface the important ones"
Some warnings are very noisy and people get distracted by those. We want people to see the actual warnings, so that they can diagnose the real issue. To avoid these situations can we disable these kind of warnings, if we are not planning to fix it in near future?

I see `AllOfWhenYouMeantRef`, `SchemaMissingType` and `CheckDuplicateSchemas` warnings a lot. If we hide these, then people can concent

[2020-09-18 22:12] iscai-msft opened #3594 "make input flags case insensitive"
qutoing you: "the easiest fix there would be to lower-case the parameter names passed in via CLI before they go further in the pipeline'

[2020-09-19 01:14] johanste commented on #3585
Why is the value sent with a `null` value from the service rather than the key/value being omitted alltogether?

[2020-09-19 01:15] johanste commented on #3585
...and why does the C# code generator ever run validation on a `readOnly` value?

[2020-09-21 09:16] audunn commented on #3585
The issue is client side, f.ex. when creating the parent resource and with validation like this the user/caller cannot construct the parent object without initializing this property that is not required i.e. not mandatory as it is nullable.
I cannot see why the validation is implemented like this and I am mostly interested in what would be the correct/best way to do this.

[2020-09-23 20:53] ohadschn opened #3595 "Immutable DTOs"
A DTO with a required `Foo` and optional `Bar` would be generated as follows:
[code]

So it would seem that immutability is lost in the presence of optional properties. It would be better to have something like this (if not by default, then at least via some configuration):
[code]

[2020-09-25 07:02] priyankajayaswal1 opened #3596 "How to use swagger.json with example attributes with locale changes with autorest"
Use case:

We are using OpenAPI.NET - [https://github.com/microsoft/OpenAPI.NET](https://github.com/microsoft/OpenAPI.NET) to modify swagger.json to accommodate examples. Our model uses `OpenApiDouble` which internally updates the example with locale changes as per implementation here: [LINK](https://github.com/microsoft/OpenAPI.NET/blob/vnext/src/Microsoft.OpenApi.Readers/ParseNodes/OpenApiAnyCon

[2020-09-26 05:18] priyankajayaswal1 commented on #3596
I am able to create clients with the locale changes swagger.json file on a system where locale is not set. That is I asked the file from the person for which this was failing and it worked for me. Can you once validate if that behavior is expected?

[2020-09-28 17:56] rjmholt opened #3597 "Unable to run autorest due to error with JSON RPC"
With any autorest generation command I run, I hit the following:

[code]

Please let me know if this might be caused by something in my own code -- I have my own autorest plugin.

[2020-09-29 16:08] rjmholt commented on #3597
So based on the assumption that this is something emitting improperly to stdout, I looked through my code, but I haven't been able to find anywhere where I might be emitting to stdout. Is there a way to debug or log what's going on so I can work out what child process / plugin is causing this and what the offending output might be?

[2020-09-30 00:46] hiaga opened #3598 "[new user] errors running autorest to generate powershell modules"
I am trying to generate PowerShell modules from scratch using AutoREST. I'm using the "azure-rest-api-specs" repository to generate the powershell cmdlets and the json file I used is - **https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2020-07-01/bms.json**, is this json correct? I'm facing some errors

[2020-09-30 14:04] ranjithsnair opened #3599 "No module named 'yaml'"
Getting below error when executing autorest command.

./node_modules/.bin/autorest --v3 --python --verbose --generate-empty-classes=false --input-file=$file --output-folder=$buildFolder --namespace=schroders.client.proxy --add-credentials --skip-upgrade-check

Traceback (most recent call last):
  File "C:\Program Files\Python37\lib\runpy.py", line 183, in _run_module_as_main
    mod_name, mod_spec

[2020-09-30 21:59] daviwil commented on #3598
Hi @hiaga, this seems to be an issue with the PowerShell generator, I'll transfer your issue to that repo so that the team might be able to help you.

[2020-10-01 00:07] lmazuel opened #3600 "Improve documentation"
- [x] All the cmdline arguments cross-language (matrix: language v2/v3)
- [x] https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md update
- [x] Quickstart for autorest generator, standalone start
   - Python: `autorest --python --v3`
   - C#: clone the repo, etc.
- [x] Transforms and directives
- [x] Supported [OpenAPI 3 formats](https://github.com/OAI/OpenAPI-Specification/blob

[2020-10-02 22:18] rollingage opened #3601 "Need to update document to clarify which linux distro that autorest supports now."
I'm trying to use autorest on "WSL 2 + ubuntu" (the default version in Windows Store is "Ubuntu 20.04.1 LTS")

Autorest does not work on ubuntu 20.04.1 LTS!

`
autorest --input-file=petstore.yaml --csharp --output-folder=CSharp_PetStore --namespace=PetStore
`
[code]

This forked repository mentioned that autorest supports up to ubuntu 16.04
https://github.com/amarzavery/AutoRest

I tried ubuntu 16

[2020-10-04 23:11] darraghjones commented on #3484
I did the same thing, and this post showed me the problem. I guess the error message could be better....

[2020-10-05 15:48] daviwil commented on #3601
Try running `sudo apt install libssl-dev` and then try AutoRest again.

[2020-10-05 18:33] rollingage commented on #3601
@daviwil, thanks for your help, I tried it but got the same error.

`AutoRest code generation utility [cli version: 3.0.6247; node: v12.18.4, max-memory: 2048 gb]
(C) 2018 Microsoft Corporation.
https://aka.ms/autorest
   Loading AutoRest core      '/home/dylandev/.autorest/@autorest_core@3.0.6320/node_modules/@autorest/core/dist' (3.0.6320)
   Loading AutoRest extension '@microsoft.azure/autorest

[2020-10-05 18:51] pakrym opened #3634 "Having multiple swaggers with different api-version usages result in inconsistent api-version parameter"
Compare:

[code]
vs

[code]

[code]

vs

[code]

[2020-10-06 09:03] farhadnowzari commented on #2671
So the AutoRest with VisualStudio AddRestApi still doesn't work.
So the workaround until microsoft uses --generate-empty-classes would be to simply add a unused property inside that class.
public int? Fake { get; set; }
then create the client and then remove it from your project.
The reason that we could not use AutoRest cli is that on one of the development machines the installation is corrupted.

[2020-10-06 22:54] lmazuel opened #3602 "Auto set head-as-boolean if ARM mode is set"
If `--azure-arm=True`, then autorest.core should pass `--head-as-boolean=True`

[2020-10-06 23:01] lmazuel opened #3603 "head-as-boolean spec"
Wanted a place to confirm the spec for this CLI parameter:

If the flag is set to true, and the operation is HEAD:
- If status is 2xx: return true
- If status is 4xx: return false
- Else raise the usual exceptions
- We SHOULD extract the Swagger description strings for the refdoc if available

Testserver:
https://github.com/Azure/autorest.testserver/blob/master/swagger/head.json

[2020-10-08 21:01] joheredi opened #3633 "Generation fails when a parameter is defined with a scientific notation number provided to "maximum""
For example a parameter like this fails

[code]

with:

    - test-swagger.json:1:1
ERROR: Schema violation: Data does not match any schemas from 'oneOf'
    - test-swagger.json:1:1

integers and decimal numbers work fine

[2020-10-08 22:08] daviwil commented on #3506
@jstevensgithub Are you still experiencing issues with this?  Which operating system did you try this on?

[2020-10-08 22:29] daviwil commented on #3465
This has been fixed for a while, closing it out.

[2020-10-08 22:29] #3465 closed

[2020-10-08 22:42] daviwil commented on #3524
Thanks @ohadschn, closing as duplicate of #3492.

[2020-10-08 22:42] #3524 closed

[2020-10-08 22:43] daviwil commented on #3492
See also #3524.

[2020-10-08 22:45] daviwil commented on #3555
Are either of you still experiencing this issue?  I have not been able to reproduce it on my side.

[2020-10-08 22:49] daviwil commented on #3502
It's not likely that our team will have resources to develop this officially so we will have to depend on the community to drive this effort.  @ctaggart's [AutoRust](https://github.com/ctaggart/autorust) is one example of such a project (thanks for spearheading that!)  I'm going to close this issue for now since it's not a request our team can fulfill for the forseeable future.

[2020-10-08 22:49] #3502 closed

[2020-10-08 22:52] daviwil commented on #3587
Hi @RupengLiu, can you try this with the latest AutoRest?  Just run `npm install -g autorest` and you should receive the latest version.

If you still see the issue after updating, you may be using the bundled version of Node.js that comes with Visual Studio.  Other people have had issues running AutoRest with it so I'd recommend uninstalling it and install the official Node.js 12 LTS release from

[2020-10-08 22:58] daviwil commented on #3560
@kant2002 If you run `autorest --reset` and try this again, does it resolve the issue?  We've released a few updates since then, maybe one of them has resolved this issue.

[2020-10-08 23:22] daviwil commented on #3518
Since this seems to be related to the PowerShell generator, I'm moving this over to the autorest.powershell repo.

[2020-10-08 23:27] daviwil commented on #3486
Thanks for the heads up!  I've corrected the installation docs:

https://github.com/Azure/autorest/commit/6ad8958b65506899b3889a1606e39f1c2d17cc79.

[2020-10-08 23:27] #3486 closed

[2020-10-08 23:35] daviwil commented on #3368
Reopening so that I can investigate whether this is still an issue.  @dolauli, are you still having trouble with this?

[2020-10-08 23:47] daviwil commented on #3471
Hi @ericblumfield, did you ever reach a resolution on this issue?  If not, I can get Garrett to forward me the information you sent him a while back.

[2020-10-08 23:49] daviwil commented on #3472
Hi @aaronoe, looks like it's possible to get this behavior today based on what @jianghaolu suggested.  I'll go ahead and close this issue for now, let me know if there's still an issue and I'll be happy to reopen it.

[2020-10-08 23:49] #3472 closed

[2020-10-08 23:50] daviwil commented on #3464
Closing as duplicate of #3441.

[2020-10-08 23:50] #3464 closed

[2020-10-08 23:50] daviwil commented on #3441
See also #3464.

[2020-10-09 00:01] finalcut commented on #3555
We are using autorest 3.0.6.187; I see 3.0.6247 is out.  I'm not sure what changed between those versions. I'll try it too.

It does still kind of "sit" for a bit on the `Loading AutoRest extension '@microsoft.azure/autorest.modeler' (2.3.55->2.3.55)` line without giving feedback but it isn't 15 minutes long to do it.

I just ran it and see this output.  The firs three lines pop up pretty fast.. b

[2020-10-09 00:06] daviwil commented on #3555
Try running with `--debug --verbose` parameters added, there is more output and timing information included.  If you can attach the log from that I might be able to tell where it's hanging.

[2020-10-09 00:20] finalcut commented on #3555
Okay.  I've done as requested.  We have quite a few models.  But and I've omitted that part of the log as it goes really fast through the model iteration and output parts.  Here is the relevant log data

[code]

[2020-10-09 08:10] ericbrumfield commented on #3471
@daviwil I haven't looked back since back pedaling to 3.0.5231 and moving on.  This dev machine I'm still on and 3.0.5231 is still in place.  I'll likely be retiring this machine in the next month or two.

Here is the email I had sent Garrett.
[Upgraded from 2.0.4283 to latest 3.0.6187, now autorest is unusable.,#3471.txt](https://github.com/Azure/autorest/files/5353420/Upgraded.from.2.0.4283.to.l

[2020-10-09 08:13] priyankajayaswal1 opened #3604 "Does Autorest V3 support explode property in query?"
For our usecase, we have a query named ids which is array of strings with style form. with **explode=true** The url created in swagger ui looks correct as in of format: `https://editor.swagger.io/resource?ids=string&ids=string1&top=50` as opposed to `https://editor.swagger.io/Grower/ee/Boundary?ids=string,string1&top=50` ( -> this url & difference came with `explode` property use. In the generated

[2020-10-09 12:14] jstevensgithub commented on #3506
I have not attempted it in a while.  I will try again.  Most development work moved on with NSWag.

[2020-10-09 14:22] pnquest commented on #3555
I think it is possible the issue @finalcut is experiencing may be different from what I am seeing. Like I said, I see this even when running this command, which has nothing to do with generating any code:

`autorest --csharp --help`

I just tried running that command with the additional flags, but it looks like the timing starts after the long wait. The output suggests that this took 5 seconds, bu

[2020-10-09 20:42] cfauchere opened #3605 "Add support for polymorphism"
As the readme.md mentions oneOf and anyOf are not supported. AutoRest should support polymorphism to enable scenarios like this one:
Cat : Animal
Dog: Animal

Animal[] GetAnimals() -> return a list that includes cats and dogs
Is this in the roadmap? Is there a timeline?

[2020-10-12 12:39] jstevensgithub commented on #3506
Just tried on new covid notebook.  Same problem.

PS C:\sc\gh\openapiexample> autorest --input-file=swagger.json --csharp
AutoRest code generation utility [cli version: 3.0.6247; node: v14.13.1, max-memory: 4096 gb]
(C) 2018 Microsoft Corporation.
https://aka.ms/autorest
   Loading AutoRest core      'C:\Users\jstevens\.autorest\@autorest_core@3.0.6320\node_modules\@autorest\core\dist' (3.0.6320)

[2020-10-12 13:33] catapedamania opened #3606 "TypeError: Cannot read property 'None' of undefined on V3 Swagger interface (Smarkets)"
[code]

[2020-10-12 18:52] lmazuel commented on #3604
@pakrym ?

[2020-10-12 19:06] icyfire0573 opened #3607 "Error: Plugin csnamer reported failure."
https://docs.baroan.com/ManageAPI.json

C:\Users\WDAGUtilityAccount\Documents>autorest --powershell --input-file=C:\Users\WDAGUtilityAccount\Desktop\ManageAPI.json  --namespace=Connectwise.Manage    --debug

PLUGIN FAILURE: Unknown Model. Fatal., Error: Unknown Model. Fatal.
    at SchemaDefinitionResolver.resolveTypeDeclaration (C:\Users\WDAGUtilityAccount\.autorest\@autorest_powershell@2.1.400\n

[2020-10-12 19:17] pakrym commented on #3604
As far as I know we don't

[2020-10-12 20:20] lmazuel commented on #3604
@pakrym explode support was added to m4 when we got the same issue for Python:
- https://github.com/Azure/autorest.modelerfour/issues/314
- https://github.com/Azure/autorest.python/issues/704
- https://github.com/Azure/autorest.testserver/pull/198

[2020-10-12 20:23] daviwil commented on #3604
Yep, we do have explode support.  Are you experiencing an issue with it @priyankajayaswal1?

[2020-10-12 20:25] pakrym commented on #3604
To clarify. I was only talking about the C# generator. M4 itself provides the right metadata in code model.

@lmazuel what's interesting is that we do pass the linked testserver test, I don't think it validates the explode though.

[2020-10-12 20:38] daviwil commented on #3607
This seems specifically related to the PowerShell generator, moving to the Azure/autorest.powershell repo.

[2020-10-13 04:27] priyankajayaswal1 commented on #3604
@daviwil yeah I am experiencing an issue. My bad should have mentioned C# in the description.
The issue is that I have a field named `ids` for which I'd want to have explode like behavior implies each `ids` attribute to translated to  one query param in url (like https://url?ids=a&ids=b) as opposed to https://url?ids=a,b,c.

- For this using expose solved the issue at swagger.json level (means in

[2020-10-13 17:12] pakrym commented on #3604
By running `autorest --csharp --v3` you are using V3 autorest pipeline with V2 C# generator. But that's not the biggest problem, neither V2 or V3 C# generator, currently, supports the explode options.

[2020-10-14 20:11] darthrcf opened #3608 "multiple outputs in markdown file results in Error: Cannot resolve pipeline stage 'openapi-document/identity'."
Version: 3.0.6247
Core Version: 3.0.6320
NodeJs Version: 10.16.3 (tried on 12.8 as well)

When I remove an output for either charp or powershell it works as advertised, when both are present results in the Error: Cannot resolve pipeline stage 'openapi-document/identity'.

Markdown file contents:

# The Client Configuration Markdown File (This file is best opened in Visual Studio Code to avoid Unic

[2020-10-15 12:11] priyankajayaswal1 commented on #3604
In swagger 2.0 explode equivalent is using below:
[code]
which works fine with and without --v3 flag.

[2020-10-15 19:13] motoko89 opened #3609 "System.ArgumentNullException: Value cannot be null. Parameter name: key"
I'm trying to generate typescript from this https://api.appcenter.ms/preview/swagger.json
This is my `config.yaml`:
[code]
This is the command: `autorest config.yaml --typescript --verbose`

Full error:
[code]

[2020-10-16 07:58] vespaet3 opened #3611 "Failed to install or start extension '@microsoft.azure/autorest.csharp' (~2.3.79)"
[code]

who helps me?

[2020-10-16 13:30] 9Rune5 opened #3612 "parameters in="header" not supported"
I had the following defined for each method:
[code]

// exp: Generate an optional parameter for this parameter
// act:
[code]

[2020-10-16 17:16] archanaiyer commented on #3601
I'm trying to run the sample in the autorest project here: https://github.com/Azure/autorest/blob/master/docs/examples/generating-a-client.md

I'm seeing the same issue as mentioned above (even after trying to install libssl-dev)
[code]

Is this a known issue on WSL? What else can I try?

[2020-10-19 05:53] spakhare opened #3613 "Generating ansible modules"
Hi Team,

We are looking for generating ansible modules using AutoRest. But from the readme I see as of now Autorest supports only Powershell, Python, Java, and few other languages.

Can you please confirm if there are any plans to support generating ansible modules?

Thanks!

[2020-10-19 18:25] daviwil commented on #3613
Highly unlikely without someone from the community kicking off the effort.  What exactly would an AutoRest-generated Ansible module do?  AutoRest is focused on generating code from Swagger(REST API) specs so I'm curious to know how it'd relate to Ansible.

[2020-10-19 18:51] #3602 closed

[2020-10-19 20:15] daviwil commented on #3612
I think you're missing a `type` on this parameter definition, adding that will resolve the schema validation error.  See the OpenAPI (Swagger) 2.0 spec on the topic:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#headerObject

[2020-10-19 20:15] #3612 closed

[2020-10-19 21:11] daviwil commented on #3601
Thanks for pointing this out, it seems like the current release of @microsoft.azure/autorest.csharp is built with an older .NET Core SDK which expects libssl 1.0 where Ubuntu 20 has libssl 1.1 installed.  More info can be found here: https://github.com/dotnet/runtime/issues/28079.

I'll see if I can get a new build of the generator shipped with a newer update of the SDK.

[2020-10-19 21:20] daviwil commented on #3611
Seems like you had an issue installing the `@microsoft.azure/autorest.csharp` package.  Are you still experiencing the issue?  It could have been an intermittent network or npm issue.

[2020-10-19 23:50] pakrym commented on #3603
Is there a work item for autorest to turn this by default for `azure-arm`?

[2020-10-19 23:52] pakrym opened #3614 "Set head-as-boolean to true for azure-arm libraries"
See https://github.com/Azure/autorest/issues/3603

[2020-10-20 02:48] dolauli commented on #3368
@daviwil I just have a try with the latest autorest. The issue still exists.
[code]

[2020-10-20 03:02] dolauli opened #3615 "Please change the default @autorest/powershell to load to 3.0+"
Currently, the default powershell to load is 2.1+. And since 3.0 has been released, we want to change the default version to 3.0+.
And the code needs to change looks in https://github.com/Azure/autorest/blob/master/core/resources/plugin-powershell.md.

[2020-10-20 03:35] daviwil commented on #3614
I just merged a fix for this earlier today in PR https://github.com/Azure/autorest/pull/3610 but apparently it didn't get shipped due to a new error in the release pipeline.  I'll get this fixed and shipped in the morning.

[2020-10-20 03:50] daviwil commented on #3603
There was :) #3602

[2020-10-20 06:26] spakhare commented on #3613
Thanks, @daviwil for sharing details. Actually, we have certain actions available in the form of REST APIs. As most of the users prefer ansible modules over making direct API calls if we could get equivalent Ansible modules that could simplify their tasks.

I also noticed another project (https://github.com/Azure/autorest.ansible) but looks like there are not many developments there. The last comm

[2020-10-20 15:20] #3614 closed

[2020-10-21 09:16] audunn commented on #3585
Sitting for a while now is there a way to get issue looked at here?

[2020-10-21 23:20] pakrym opened #3631 "Inconsistent `knownMediaType` produced for `"type": "string", "format": "binary"` json values"
[code]

[code]

[2020-10-21 23:55] daviwil commented on #3614
OK, finally got CI fixed and the new update is out!

[2020-10-22 03:43] leni-msft opened #3616 "Error resolving $ref in examples"
When generateing schemas for apimanagement 2019-12-01, I encountered error `$ref to original location is not found in the new refs collection`.

It seems caused by `$ref` used in examples, where the property is defined as a literally schema object:
https://github.com/Azure/azure-rest-api-specs/blob/55543f8edeb99155523c829aff9b51229ade2c51/specification/apimanagement/resource-manager/Microsoft.ApiM

[2020-10-22 03:50] leni-msft commented on #3616
@daviwil Could you help check again? After we changed the parameters from `--api-version` to `--tag`, the issue is still there.
cc. @fearthecowboy @anthony-c-martin

[2020-10-23 19:07] SamuelDev commented on #2870
I'm still seeing this in the v3 engine.  Was a solution ever reached?

[2020-10-23 20:28] absolutejam opened #3619 "Multiple `requestBody` with `type: object` results in BodyModelModelModel...."
Alright, so I murdered the title a little...

I have a built OpenApi spec for MatterMost that I've had to perform a few tweaks on to get working (thank god for transforms!), but I noticed when I built it, I ended up with `Models/BodyModel.cs` all the way to `BodyModelModelModelModelModelModelModelModelModelModel...cs`.

When I compared the fields in the generated classes, it looks like these `Body

[2020-10-23 21:20] peombwa opened #3620 "Use-DateTimeOffset config is not supported by AutoRest"
According to [this guide](https://github.com/Azure/autorest/blob/master/docs/user/command-line-interface.md#commonly-used-settings), specifying `use-datetimeoffset` should change the type of date-time properties from `DateTime` to `DateTimeOffset`. AutoREST doesn't seem to respect this configuration.

### Repro steps:
- Environment
[code]
- Generation
[code]
- [Users.user.yml](https://gist.github.

[2020-10-26 19:01] markm77 opened #3621 "Duplicate checking and other errors with test file?"
I tested V3 AutoRest and the V3 C# generator as described [here](https://github.com/Azure/autorest.csharp/issues/871#issuecomment-716714824).

I was trying to process [this](https://github.com/OpenBankingUK/client-registration-api-specs/blob/e211e5eef8b9dfd907760b42723c31632a226e1d/dist/client-registration-openapi.yaml) relatively simple public Open API file as a test.

You can see the problems I

[2020-10-27 07:45] weidongxu-microsoft opened #3630 "Error on Circular $ref in policy PR"
**Describe the issue**
A clear and concise description of what the problem is. Help me find your problem, don't just drop a vague message and run.

Output
[code]

The cause is likely this line: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2020-03-01/policyAssignments.json#L582

A previous api-version with a differ

[2020-10-27 23:03] daviwil opened #3622 "Add a new flag to ensure the use of V2-era generators"
After some discussion, it sounds like we intend to start defaulting the `--[language]` parameters to the new V3 generators and add a new `--legacy` parameter which will be configured to load the V2-era language generator for users who need it.  For example, `autorest --python --legacy` would load `@microsoft.azure/autorest.python` with V2 core instead of the new V3 generator and core.

Pavel reque

[2020-10-27 23:07] pakrym commented on #3622
I think we need to notify partners and update all existing usages to start passing `--legacy` before we do any changes to defaults.

[2020-10-27 23:08] pakrym commented on #3622
We might also consider adding a warning sometime before the change to prepare customers for migration.

[2020-10-27 23:13] daviwil commented on #3622
I am currently looking into a way to log messages from AutoRest configuration blocks so that we can start displaying messages like this.

[2020-10-28 08:40] evertonmc opened #3623 "Azure API Management schema validator for CI jobs"
Please provide a documentation on how to validate openapi and swagger documents for the Azure APIM import.
I can't find a way to get the same errors in autorest (e.g.) thrown by the azure api management import.
Also tried a lot of other validators, and all of them seem to consider some specs as valid where apim would reject with schema validation error.
## autorest
`autorest --v3 --azure-validator

[2020-10-29 18:06] ehcarleton commented on #2647
Using the transform command is not working for Constant Contact's API v3 swagger file.  Anyone can download their swagger file here:

https://v3.developer.constantcontact.com/api_guide/v3api_schema.html#download

I have saved the following as sample.yaml
``
[sample.yaml.txt](https://github.com/Azure/autorest/files/5460428/sample.yaml.txt)

When I run it, I get the following error:

WARNING: Direct

[2020-10-30 11:08] tbugfinder opened #3624 "[ruby] error while building from azure-rest-api-specs"
Hi,

I'd like to create a PR for ruby-sdk however I'm unable to run `autorest --ruby` on azure-rest-api-specs. autorest.ruby repo doesn't allow to open issues (or is the project dead?) so my guess is that this project might maintain or reach out to maintainers of autorest.ruby.
Ruby code is a requirement as the code should be used within inspec.

What's the "hidden" parameter I'm missing here or i

[2020-10-30 20:48] iscai-msft opened #3625 "autorest failing to override package-name"
![image](https://user-images.githubusercontent.com/43154838/97755385-6e89a900-1acf-11eb-8dd2-c3abb583961e.png)

In this case, package-name should be overridden to `multiapiwithsubmodule#submodule`, however it's still the original (it's not just an issue bc of the `#`). Other configs, i.e. `clear-output-folder`, and `output-folder` are correctly overridden in this case

[2020-10-30 22:27] daviwil commented on #3625
Thanks @iscai-msft!

[2020-10-30 22:38] MiYanni opened #3629 "Duplicate header type processing issue"
**Describe the issue**
For headers, you cannot use the `schema: $ref` pattern as used for other things in swagger (it doesn't allow it). You have to define the type each time for every header. That said, currently, duplicate header definitions are handled properly (deduplicated) for request header parameters and response headers independently. However, if you define the same header in both a reque

[2020-11-03 13:34] srchilu commented on #3585
We are facing similar issue in office machines (msft) while generating c# sdk.
autorest version:
core       @autorest/core                           3.0.6274     C:\Users\srchilu\.autorest\@autorest_core@3.0.6274
AutoRest code generation utility [cli version: 3.0.6187; node: v12.19.0, max-memory: 8192 gb]

Seen this issue with both .net core 3.1.9 and 3.1.8 versions.

[2020-11-03 19:34] rosieks commented on #3441
Any idea which version to use if I face this error and also https://github.com/Azure/autorest/issues/3492?

[2020-11-03 21:11] daviwil commented on #3585
@srchilu Can you provide an example of how you're invoking AutoRest when you see this issue?

[2020-11-04 15:24] priyankajayaswal1 commented on #3585
We are invoking it by using the following command.
`autorest --csharp --v3 --input-file=docs\open-api-specs\latest\swagger.json --output-folder=service_client --verbose --namespace=auto_generated --version=3.0.6274
`
This is the exact command we use. The behavior seems to be inconsistent when running in office systems (msft ) and when running in my laptop.

[2020-11-05 15:47] yishengjin1413 opened #3628 ""allof" with "$ref" will cause infinite loop"
We are using following command to resolve external reference.

`autorest --version=2.0.4166 -FANCY -g SwaggerResolver -i $swaggerPath -outputFileName $swaggerPath`

Why we use an old version here is because we have really lots of swagger files which are not strictly follow swagger 2.0.

But now we find that if the definitions contains following content , the command will go into a infinite loop.

[2020-11-05 18:21] priyankajayaswal1 commented on #3585
@daviwil can you have a look at it, since we are really dependent on autorest to not change it's behavior and break things in between for our system to work. This looks more of a regression issue (not sure of what exactly). Adding a snippet on how is the change breaking things for nullable entities.
![image](https://user-images.githubusercontent.com/7633366/98280417-60e98d00-1fc1-11eb-8399-dd188ef

[2020-11-06 17:10] suhas92 commented on #976
Similar problem!

[2020-11-06 22:42] tbugfinder commented on #3624
beep

[2020-11-09 15:44] jiacheng-L commented on #3494
Hi Alex, I got the same error as yours. How do you fix this?

[2020-11-09 22:05] pakrym opened #3632 "M4 generates multiple responses with the same status code"
M4 generates multiple responses with the same status code

For https://github.com/Azure/azure-rest-api-specs/blob/d9cf7c7ed3d674ebd482836e82b274014245ae67/specification/attestation/data-plane/readme.md

Operation PrepareToSet

[code]

cc @daviwil

[2020-11-09 22:29] dolauli opened #3636 "Add support to disable flattening a model"
**Describe the issue**
In m3, we could disable flattening a model through a configuration as below in readme.md. And this feature is very useful for breaking cycle reference and supporting polymorphism.
[code]
For m4, we expect when this configuration is set, the model is marked as skip-inline for further handling by powershell generator.
[code]

[2020-11-09 22:40] iscai-msft opened #3645 "[constants] Brainstorm for how we should deal with a required, extensible enum of 1, with no client default"
Long title, but repeating here: what do you guys think we should do when we encounter when we have an extensible enum of 1 that is a required parameter for a function and it does not have an `x-ms-client-default` specified in the swagger?

My 2 cents after talking with @lmazuel (thanks for your help!): m4 should set the `x-ms-client-default` to the single enum value.

Potential drawbacks: the main

[2020-11-09 22:45] erich-wang opened #3653 "Duplicate Operation 'List' detected when generating code for Resources"
@pakrym, as Allen already told you there're issues when using `batch` for Resources RP, so I tried `input-file`, but got error as below:

**autorest.md**
[code]
**Error detial**

EXEC : error (): Duplicate Operation 'List' detected. [C:\AME\work-azure-net-sdk\sdk\resources\Azure.Management.Resource\src\Azure.Management.Resource.csproj]
FATAL : error : 1 errors occured -- cannot continue. [C:\AME\w

[2020-11-09 22:55] richardpineo commented on #3641
No particular thoughts here. I don't work on this portion of our project much any more and so I haven't run into this issue since I filed that bug a year and a half ago. I believe we worked around it by cleansing the source at some point to remove \U, \N from our source.

[2020-11-09 22:56] erich-wang opened #3661 "[P1]Failed to generate code for datafactory"
[code]

[2020-11-09 22:56] iscai-msft opened #3662 "Order parameters when given to the different languages"
1. Required parameters with no default
2. Required parameters with default
3. Optional parameters (in Python optional parameters always have a default, we set the default to None if there isn't one specified in the swagger)

[2020-11-09 23:05] MiYanni opened #3672 "Paging nextLinkOperation creates additional operation when it should ref itself"
**Describe the issue**
This was found using 2 of the test server swaggers. There are certain operations where the operationName is the name of the operation itself. Meaning, the next page comes from itself. What happens now is the `nextLinkOperation` we create ends up creating a new operation (that previously didn't exist before) that is a duplicate of the operation it is in. So, instead, `nextLin

[2020-11-09 23:06] MiYanni opened #3673 "Pageable extension information still remains"
**Describe the issue**
Basically, the x-ms-pageable information now becomes a `paging` node on language.default. However, despite this information being processed, it still remains in the `extensions` bucket.
![image](https://user-images.githubusercontent.com/17788297/75734912-11bec000-5cae-11ea-99e5-70c3effc1426.png)
All other processed extension information is removed after it has been processed

[2020-11-09 23:07] qiaozha opened #3675 "Can modelerfour support split one operation into multiple operations"
in datafactory, there's an operationId `Factories_ConfigureFactoryRepo `https://github.com/Azure/azure-rest-api-specs/blob/codegen-datafactory-onboard-cli/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json#L111
 It has an attribute `FactoryRepoUpdate` which contains an object property `FactoryRepoConfiguration`, the `FactoryRepoConfiguration` has a

[2020-11-09 23:07] iscai-msft opened #3676 "Not using x-ms-code-generation-settings"
**Describe the issue**
When generating mgmt storage 2015-06-15, m4 is not accepting the [x-ms-code-generation-settings](https://github.com/Azure/azure-rest-api-specs/blob/825623d005ca24789e675db4fe75415c7585b7fe/specification/storage/resource-manager/Microsoft.Storage/stable/2015-06-15/storage.json#L7) override of [info][title]

** REQUIRED **
**ModelerFour** version: 4.7.207
**AutoRest-core** ver

[2020-11-09 23:08] iscai-msft opened #3678 "Add targetProperty for parameter grouper"
**Describe the issue**
It would be nice to add a targetProperty in the yaml so grouped parameters can access. @lmazuel suggested ref3 having a targetProperty to the property in the group shown below
![MicrosoftTeams-image](https://user-images.githubusercontent.com/43154838/74392573-7cba5c80-4dbc-11ea-99e2-f83b41bb2c31.png)

[2020-11-09 23:16] MiYanni opened #3686 "Collections (array/dictionary) of ConstantSchema should model the element type as SealedChoice instead"
From AppConfiguration:
![image](https://user-images.githubusercontent.com/17788297/70194909-edf0db80-16b8-11ea-8e2a-dc85d07d038d.png)

In this case, this it a parameter. In most languages, you don't model a ConstantSchema as a separate type/class. So... how is someone supposed to make an array of it? You could make it an array of the inner type (in this case, an array of string), but you lose info

[2020-11-10 01:43] mjohnst opened #3693 "Unable to generate empty class for no-property schema"
Hello,

I have a schema in my OpenApi JSON that only contains a `description` and a `type` - multiple schemas inherit from it
e.g.
[code]

When I run my autorest generation, I get this error:
`autorest --v3 --verbose --version=3.0.6274  .\config.yaml`
`FATAL: The schema's 'Bar' ancestors should have at lease one property`

Adding `--generate-empty-classes` should fix this issue, but then I get thi

[2020-11-12 11:57] aim-for-better opened #3694 "The autorest validation error message is not very correct for DeleteOperationResponses/R4011/ARMViolation"
For example, when I run
[code]

There is an error as bellow:
![image](https://user-images.githubusercontent.com/12733681/98936879-9261db80-2520-11eb-986d-4b447a868ebc.png)

It shows **without** 200 or 204, I am very confused because our operation has 200 response.

When I find definition of [DeleteOperationResponses/R4011/ARMViolation](https://github.com/Azure/azure-rest-api-specs/blob/fbe92664833

[2020-11-12 21:38] pakrym commented on #3585
@priyankajayaswal1 can you clarify why the code change you included is breaking?

[2020-11-12 21:44] pakrym commented on #3585
As to the original issue in this thread, I believe it's fixed as part of https://github.com/Azure/autorest.csharp/issues/885.

Try adding `--use:@microsoft.azure/autorest.csharp@2.3.90` to your command line.

[2020-11-13 01:20] jianghaolu opened #3695 "Resolve relative paths provided in README or commandline"
When an argument is provided on README or AutoRest commandline and the argument points to a relative path, the user is assuming the path is relative to the README file or where the user is running the AutoRest CLI.

[code]

We need a way for AutoRest plugins to get the absolute paths for these arguments.

# Solution 1: Repurpose the `base-folder` configuration, or add a new configuration

Currentl

[2020-11-13 08:16] alantang-MSFT opened #3696 "OpenAPI 3.0 support for x-ms-parameterized-host"
Is this currently supported (has the extension been renamed)?

If not, would have an idea of when this might be supported?

For now, I could workaround this in C# by providing a partial implementation of the generated Client class to provide a way to set the BaseUri, but it'll be much better if this can be auto-gen'd.

Thanks!

[2020-11-13 17:37] lmazuel commented on #3695
# Summary

Today, all the relative paths inside a Readme are solved relatively to that Readme place.

For instance `autorest ./a/b/c/readme.md` that contains `input-file: ../foo.json`, will look into `./a/b/foo.json`

This applies to `input-file` and `output-folder` (@daviwil are you aware or another path autorest.core arguments?)

Problem for people like @pakrym , if "output-folder" is the projec

[2020-11-13 19:04] iscai-msft commented on #3695
Thanks @lmazuel I definitely prefer the second one, it keeps the basics similar, but allows users greater customizability (idk if that's a word)

[2020-11-16 16:07] iscai-msft opened #3697 "add support for new paging swagger param tokenParamName"
See my docs PR for more information https://github.com/Azure/autorest/pull/3626/files

[2020-11-16 16:08] iscai-msft opened #3698 "add support for runtime expression in nextLinkName"
I.e., allow users to specify `$response.header.nextLink` as location of next link, instead of only allowing users to specify a property on the response body. See my docs pr for more information https://github.com/Azure/autorest/pull/3626/files

[2020-11-17 06:50] priyankajayaswal1 commented on #3585
@pakrym above links exactly what we wanted to have resolution for. I somehow ended on this thread. But thanks for sharing the details. Above resolves my issue.
Just curious what made the default behavior to break exactly. Any idea?

[2020-11-17 17:05] pakrym commented on #3585
I'm sorry, I don't fully understand the question.

[2020-11-17 17:39] priyankajayaswal1 commented on #3585
What caused bug [Azure/autorest.csharp#885](https://github.com/Azure/autorest.csharp/issues/885)?

[2020-11-17 17:43] pakrym commented on #3585
We didn't generate a null-check before trying to validate nullable properties causing the generated code not to compile.

[2020-11-17 19:02] daviwil commented on #3585
@audunn Does the [above resolution](https://github.com/Azure/autorest/issues/3585#issuecomment-726358959) fix your issue?

[2020-11-18 13:25] cyptus commented on #3332
@daviwil is there any progress at #3246 ?

[2020-11-19 11:46] coder89 commented on #3611
I get the same. Even though I have that package already installed (locally and globally) it still fails trying to install it. Can't get past that.

[2020-11-19 18:30] toymachiner62 commented on #3441
I'm also receiving this

I faced this same issue and my colleague's was generating just fine and he was using version `3.0.5537`. I came across your answer and spot on. Up to `3.0.6130` it works. Anything newer than that including `3.0.6247` creates an error.

[2020-11-20 13:21] iscai-msft opened #3701 "autorest help page doesn't have language specific sections"
hey @daviwil, this could either be a bug, or due to the fact that our documentation isn't where it's supposed to be, but when @qiaozha runs `autorest --python --help`, there isn't really a pythonn section. It kind of says there is, but all of the flags listed are cross-language. Either way, this will definitely need work with our current docs push, but am wondering if there's more we can be exposi

[2020-11-20 13:23] #3701 closed

[2020-11-20 13:25] iscai-msft opened #3702 "update help page for autorest"
when updatign documenation, we need to make sure we update the `autorest --help` page, and make sure each language has it's own section for `autorest --help --{language}`

cc @qiaozha

[2020-11-20 13:37] iscai-msft opened #3703 "Add autorest help page for cli"
@qiaozha would like a help page for cli commands, something like autorest —az —help

Add `help-content` to each generators:
- [x] Python https://github.com/Azure/autorest.python/pull/898
- [x] CSharp https://github.com/Azure/autorest.csharp/pull/1067
- [x] Java https://github.com/Azure/autorest.java/pull/952
- [x] Typescript
- [x] Swift
- [x] Go https://github.com/Azure/autorest.go/pull/597

[2020-11-20 22:52] sacheu opened #3704 "Description in responses in Code Model file is missing"
When I generate code model from a swagger file using this command:

`autorest --v3 --input-file=communicationserviceschat.json --inspector --inspector.output-folder=./inspector --inspector.clear-output-folder --use:@autorest/modelerfour@4.15.396`

I see the description of responses are blank.
![image](https://user-images.githubusercontent.com/8701731/99857279-b7b5a180-2b3f-11eb-9a06-960458999fd0.p

[2020-11-23 04:27] jeremyfiel opened #3705 "Fix: typo >> "decalared" in modelerfour.ts"
Hi all,

just a quick one on a typo I noticed in the console when running the Azure Functions generator on an OpenAPI spec in VSC. I was following along this recent post. https://techcommunity.microsoft.com/t5/apps-on-azure/build-rest-apis-in-three-steps-with-api-management-and-azure/ba-p/1869627

Very cool idea and big thanks to everyone involved!

I didn't think it was worth forking and submitti

[2020-11-24 13:31] luizfbicalho commented on #3447
I got the same error with this command and this json

autorest --input-file=openapi.json --csharp --output-folder=API --namespace=Zenvia.API --v3

https://zenvia.github.io/zenvia-openapi-spec/v2/openapi.json

[2020-11-24 14:18] josh-oakes opened #3706 "Autorest failure with Node 14.15.0"
I'm seeing the following error in my build pipeline in Azure Devops...

[code]
OS: ubuntu-latest image
AutoRest CLI: 3.0.6247
node: 14.15.0

I think the issue is some weird combination between ubuntu and node as I'm not able to replicate this on my local windows machine. But my actual question how does Autorest choose the version of node to run against? Can we specify the node version on the comma

[2020-11-24 17:32] UncleFirefox commented on #3441
Hi, we're also getting the `additionalProperties` problem doing `autorest --input-file=swagger.json --output-folder=. --typescript --version=3.0.6274` anybody looking at it?

[2020-11-25 15:03] calvaradocl commented on #2925
Hi, I just wanted to check if this was on Autorest's roadmap for the next months, because I'm currently using the last version of the --v3 generator and still the primitive types are generated as nullables.

[2020-11-29 18:44] pecjag opened #3707 "Collision detected inserting into object"
Receiving an error when attempting to run autorest against the attached swagger file:
[swagger-4.0.0-dist.json.zip](https://github.com/Azure/autorest/files/5612632/swagger-4.0.0-dist.json.zip)

This is the error I'm receiving:
`
C:\Users\Peter>autorest --v3 --powershell --input-file:c:\temp\swagger-4.0.0-dist.json --debug
AutoRest code generation utility [cli version: 3.0.6247; node: v14.15.1, max

[2020-11-30 21:09] sacheu opened #3708 "CodeModel from test swagger paging.json misses 'serializationFormats' and 'usage' in ObjectSchema"
In code model from test swagger paging.json, it misses 'serializationFormats' and 'usage' in ObjectSchema.
I think per schema of code model, they are both required properties.

In fact, I don't see where this ObjectSchema is used anywhere else in the code model.

Because of this issue, we need to change how we build ObjectSchema in AutorestSchema (support when  'serializationFormats' and 'usage' a

[2020-11-30 23:31] sacheu opened #3710 "Code model for test swagger body-array miss"
In code model for body-array, the operation `GetComplexItemNull` is testing a case where it get an array of Complex object (`Product` in this case), but there can be null item in the response.

From the code model file, the response of GetComplexItemNull is referring `ref_110`,

In ref_110 schema, the definition is , and that does not have `      nullableItems: true ` .

Where as in the same code

[2020-12-01 03:03] gkarnik05 opened #3711 "Unable to locate the generated files"
I'm trying to generate client with the below command. I'm running the command in PowerShell administrator mode. Even though the debug shows that the writing is complete, I'm unable to locate the files. Am I missing something?

`autorest --input-file=".\adventureworks2017-openapi.json" --namespace="AdventureWorks2017.RestApi" --debug --output-folder="c:\users\gpkar\source\repos\AdventureWorks.Blazo

[2020-12-01 08:23] Mikael-Gustavsson commented on #3604
The bug in autorest is : **When explode is omitted for** `style": "form"`, **it defaults to false, which is not according to spec.**

My conclusion is that this is a bug in autorest, and a serious one at that since Autorest-generated APIs is not compatible with .net core actions handling array-based query parameters.
The Swagger specification on [query parameters](https://swagger.io/docs/specifica

[2020-12-01 09:18] Mikael-Gustavsson commented on #3604
Ugly temporary workaround for **Swashbuckle** users having this problem:
Borrowing from https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1701#issuecomment-643273567
You can amend the suggestion, linked above, to resolve the `explode: true` problem as well:
[code]
... Above code will add the parameter `explode: true` to the swashbuckle generated output and will, when using autorest

[2020-12-01 23:19] iscai-msft opened #3714 "mark objects as binary if specified as file"
If someone marks something as a file, regardless of content type in consumes / produces, we should just mark it as binary.

Currently semi-blocking @tasherif-msft (there can be temp swagger changes / change the generated code, but ideally would be fixed in autorest)

m4 output:
![image](https://user-images.githubusercontent.com/43154838/100942126-c51c4580-34c8-11eb-858a-5c1772f0c2b1.png)

[2020-12-02 19:32] #3400 closed

[2020-12-03 07:31] bzmo commented on #2870
@fearthecowboy Any updates on the C# generator?

[2020-12-03 22:34] iscai-msft opened #3717 "flag discrepancies"

[2020-12-03 22:37] iscai-msft opened #3718 "credential flag discussion"
discussed with @lmazuel, starting off discussion by saying: we should move to what Java has. i.e., one flag `--credential-types`, where you can specify a list of `TokenCredential`, `AzureKeyCredential`, or `None`. Default to `TokenCredential`, since all mgmt plane code uses `TokenCredential`, and as far as we know, all data plane libraries use credentials as well (even if they don't, we can talk t

[2020-12-03 22:40] iscai-msft opened #3719 "credential scopes discussion"
All languages should be able to support a list of credential scopes (with flag `--credential-scopes`), so users won't have to pass credential scopes themselves. Agree with @lmazuel that in ARM mode, we should default the credential scope to `https://management.azure.com/.default`, since that's always the case for ARM mode.

[2020-12-03 22:43] #3714 closed

[2020-12-03 22:43] #3631 closed

[2020-12-03 23:26] daviwil opened #3720 "Add modelerfour parameter to control whether Accept header parameter is generated"
Modelerfour has a flag called `--modelerfour.always-create-content-type-parameter` to control whether the `Content-Type` header parameter is added to operations automatically.  We also automatically add the Accept header parameter automatically but we've been asked to put it behind a parameter so that the behavior can be disabled.

We should add a new parameter `--modelerfour.always-create-accept-

[2020-12-04 22:09] #3720 closed

[2020-12-08 16:30] timotheeguerin commented on #3655
I have looked at this issue and I think this actually is an issue with the OAI2 -> OAI3 converted not modeler. This is the change that caused the issue https://github.com/Azure/autorest.modelerfour/pull/280/files. The change included `x-ms-client-name` in the duplicate name checks.

Here is a repro with minimal fields:

**OAI2:**
[code]

**OAI3 Converted**
[code]

You can see the OAI3 version now

[2020-12-08 16:31] timotheeguerin commented on #3637
This doesn't seem to be an issue anymore, the passwrod get marked as `credential`

[2020-12-08 16:49] #3637 closed

[2020-12-08 17:17] #3704 closed

[2020-12-08 19:07] daviwil commented on #3704
This fix is available in `@autorest/modelerfour@4.15.438`

[2020-12-08 19:19] #3705 closed

[2020-12-08 21:27] timotheeguerin opened #3724 "Backlog of test to add"
Issue to track some test scenario to add after we merge back the repos into a single one and we can consolidate the test setup.

**Tree Shaker**
- [x] Test changes related to  `x-ms-client-name` not included in the tree shaked schema [PR 3722](https://github.com/Azure/autorest/pull/3722)
   - [x] Not included when it is refering to a property
   - [x] Still included when refering to a parameter, h

[2020-12-08 21:34] #3655 closed

[2020-12-09 02:19] ChristopherL-STCU commented on #3368
I also experience the same issue while specifying a `github-auth-token`. I am inside a network which uses self signed certificates. This has caused issues with other tools in the past. I do not see any indication that this is the reason for the failure I'm experiencing, but still a possibility.

[2020-12-09 19:15] timotheeguerin commented on #3368
@dolauli Reproduced the same issue when creating a new Github token and trying to access the private spec repo `https://raw.githubusercontent.com/Azure/azure-rest-api-specs-pr/master/specification/adp/resource-manager/Microsoft.AutonomousDevelopmentPlatform/preview/2020-07-01-preview/adp.json`

I believe in this case the issue is due to the Github change with SSO for organization which require to

[2020-12-09 20:10] ChristopherL-STCU commented on #3368
Thank you for the reply and looking into this. I don't see that option next to my personal access token. I do see it [referenced in GitHub's documentation in connection to SAML](https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on). So I'm not sure about this setting. But I am trying to retrieve a file

[2020-12-09 20:23] timotheeguerin commented on #3368
@ChristopherL-STCU Could you share the command line you are using(minus the private data). I see in your previous comment you are using the github.com url for the file. Could you try with the `raw.githubusercontent.com` as well.
I do seem to have the same issue with using the `github.com` one but it is working with the raw.

[2020-12-09 20:40] joaovieirabr commented on #3373
Same here.

[2020-12-09 21:02] ChristopherL-STCU commented on #3368
Yes, I wasn't sure what URL was appropriate. My initial usage was based off of an example. I updated it to `raw.githubusercontent.com` after seeing your example (which makes more sense to me to use).

I was using a README.md to execute it. I converted the README to the command line and that does work for me:
[code]

But in the README it still fails for me:

[code]
[code]

Perhaps I'm not specifyin

[2020-12-09 21:12] timotheeguerin commented on #3368
Can you try passing ` --github-auth-token=`  in the cli instead of in the readme.

`autorest  --github-auth-token=xyz ./Readme`

[2020-12-09 21:20] ChristopherL-STCU commented on #3368
Yes, that works as well. And I guess that makes sense because the token shouldn't be stored in the README permentatly anyway, so supporting the token in the file does not make sense.

Thanks for the help. I guess my ask would be if when using a configuration file if AutoRest could provide feedback about invalid/unsupported configuration file content which it is being ignored.

[2020-12-09 21:22] timotheeguerin commented on #3368
I agree, we have some rework of the docs in progress to improve experience.
I guess the only issue then here is using `github.com` instead of `raw.githubusercontent.com`. I have a fix for that which should let you use `github.com` url.

[2020-12-09 21:28] #3368 closed

[2020-12-09 22:09] #3633 closed

[2020-12-09 23:38] #3685 closed

[2020-12-10 17:20] remy90 commented on #3428
@fearthecowboy did you receive a swagger file?

[2020-12-11 02:03] sagoo33 commented on #3711
I had the same issue, after not running the command in a long time.
I found I needed to specify the generator as a parameter eg:

autorest --input-file=".\adventureworks2017-openapi.json" --namespace="AdventureWorks2017.RestApi" --debug --output-folder="c:\users\gpkar\source\repos\AdventureWorks.Blazor\autorest" **--v3 --csharp**

[2020-12-11 07:12] OzBob opened #3727 "Plan to support OpenAPI 3.1"
A placeholder Issue for OpenAPI 3.1 support

Just read an article on the differences:
https://stoplight.io/blog/difference-between-open-v2-v3-v31/

1. Full JSON Schema Support
2. Semantic Versioning Dropped
3. Paths Are Now Optional
4. Single “Example” Keyword Has Been Deprecated
5. Type Can Now Be An Array
6. Nullable is No More
7. Null is now supported

[2020-12-11 15:44] iscai-msft opened #3728 "failure to collect all references"
This was originally opened in the python repo, but it seems like an autorest bug to me.

[Here's](https://github.com/Azure/autorest.python/issues/849) the original issue, it looks like the ref-ing in the swagger is good, so I think this might be an autorest bug

[This](https://github.com/Azure/azure-rest-api-specs/pull/12070) is the config @00Kai0 used, and here's his error output

Errro log:
[cod

[2020-12-11 16:06] timotheeguerin commented on #3728
@iscai-msft This looks like a duplicate of #3546, I am working on the fix for that actually.

[2020-12-11 16:22] iscai-msft commented on #3728
ok perfect, sorry I forgot to search for current issues,  closing this one, thanks @timotheeguerin !

[2020-12-11 16:22] #3728 closed

[2020-12-11 18:39] daviwil commented on #3711
@sagoo33 Is correct, you need to specify the language you want to generate for as a parameter.  Closing this for now, let me know if you still continue to have issues after passing the desired parameter (`--csharp`, `--powershell`, etc).

[2020-12-11 18:39] #3711 closed

[2020-12-11 19:01] forteddyt opened #3729 "Error: No 'title' in provided OpenAPI definition(s) - but there is"
I'm working on a [swagger spec for the azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs/pull/11955/checks?check_run_id=1534255363) repo and am running into this issue both in the PR pipeline and locally.

The local command I am running is `autorest --reset && autorest --validation --azure-validator --message-format=json --openapi-type=arm --use=@microsoft.azure/classic-openapi-v

[2020-12-11 19:05] daviwil commented on #3729
When you use multiple files as inputs, AutoRest doesn't know which file's title it should use so it expects that you will specify `--title` either via the CLI or in a Markdown configuration section.  The latter option is the practice we use for the azure-rest-api-specs repo:

https://github.com/Azure/azure-rest-api-specs/search?l=Markdown&q=title

[2020-12-11 19:06] daviwil commented on #3727
Currently we do not have a plan to add OpenAPI 3.1 support.  We will comment back here if that changes!

[2020-12-11 19:12] #3546 closed

[2020-12-11 19:17] daviwil commented on #3546
We'll have to ship a new version of AutoRest Core before this fix will be available, I'll try to get this done today.

[2020-12-11 22:26] forteddyt commented on #3729
Thanks for the quick response! I added an explicit title in the markdown configuration and executed the command mentioned above locally, but that did not resolve the error. More specifically, the markdown now looks
[code]

[2020-12-11 23:18] daviwil commented on #3546
Fix is out in @autorest/core 3.0.6339, you can get it by using `autorest --reset`

[2020-12-12 05:22] timotheeguerin commented on #3707
Issue here is that your body title `enterprise_update_enterprise` and it tries to extract that as a definition of that name. However there is already one with that name hence the conflict.

There is here at the very least a lack of communication on the issue from the error that should be looked at. Will see if there is a good way to resolveg the conflict

[2020-12-12 17:01] pecjag commented on #3707
Thanks very much for looking into it.
Please excuse my ignorance, but would you say this is "invalid" in the swagger file (ie. not valid to use the title with the same name)  Or should this be handled within autorest?

[2020-12-12 18:39] timotheeguerin commented on #3707
I don't think it is an invalid swagger file itself. OpenAPI describe services in a flexible manner which can then be an issue for a generated SDK. As much as autorest should probably not be crashing in this case having it autogenerate models name due to conflict will not result in an optimal SDK.

[2020-12-13 17:07] fuomag9 opened #3732 "ModuleNotFoundError: No module named 'yaml' and more"
Hi, I installed autorest via npm and tried to generate a python client but it failed with `ModuleNotFoundError: No module named 'yaml'`. My local python3 install has it, but the program seems to be using python from `C:\\Users\\fuomag9\\.autorest\\@autorest_python@5.5.0\\node_modules\\@autorest\\python\\venv\\Scripts\\python.exe` instead.
I manually installed `pyaml` on that python but it complain

[2020-12-14 03:04] lugolven commented on #3601
Did someone find a work around for this issue?

[2020-12-14 05:39] bugproof opened #3733 "ERROR: Syntax error: No mapping value found. swagger.yaml:1:1"
1st line: `openapi: 3.0.0`

invocation: `autorest --v3 --csharp --input-file=swagger.yaml`

[2020-12-14 10:14] timotheeguerin commented on #3733
This looks like there is something invalid in the yaml. I cannot reproduce with a file only having
[code]
I think from trying to reproducing the error, the line `1:1` is not accurate, seems to always be returning that.

[2020-12-14 10:20] timotheeguerin commented on #3706
How are you using autorest?

If you installed autorest using `npm install -g autorest` it will use the version of node available in the path. With Azure Devops you can use the Use the [NodeTool task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/node-js?view=azure-devops) to install a specific version of node.

However it should be working just fine on node 14. Could you share

[2020-12-14 11:08] timotheeguerin commented on #3629
Just tried to repro with this simple spec and it seems to be deduplicating across both request and response headers.

[code]

[2020-12-14 11:32] timotheeguerin commented on #3710
Do you know which version of modelerfour you were using? I tried with  `4.15.423` and `4.15.440`

and this all seems to be working fine.
![image](https://user-images.githubusercontent.com/1031227/102076477-96ea1000-3dbc-11eb-9aa7-e8c1e6499bf8.png)

[2020-12-14 11:43] timotheeguerin commented on #3708
Yeah seems like here the specs has this definitions `OperationResult` which is not being used anywhere and I am guessing it can't figure out the usage(none) and the serialization format.

@daviwil I am not sure here what should be the expected result. Should we be removing models that have no references? Or is this working as expected and the code generator needs to handle models without serializa

[2020-12-14 11:49] timotheeguerin commented on #3696
I believe what you are looking for is a built in functionality of OpenAPI 3.0
See server templating https://swagger.io/docs/specification/api-host-and-base-path/

For this example:
[code]

It gets converted to this in open api 3.0

[code]

[2020-12-14 11:51] timotheeguerin commented on #3696
Closing this issue, please reopen if you are still having problems.

[2020-12-14 11:51] #3696 closed

[2020-12-14 12:12] timotheeguerin commented on #3694
This seems like an issue with the openapi-validator more than autorest itself https://github.com/Azure/azure-openapi-validator

[2020-12-14 12:28] timotheeguerin commented on #3693
Could you try using the flag `--use:@autorest/modelerfour@4.15.440`. I don't seem to be able to repro this issue with the latest.

[2020-12-14 13:43] bugproof commented on #3733
Here's the full yaml http://developer.allegro.pl/swagger.yaml

[2020-12-14 14:20] timotheeguerin commented on #3733
So looking at it the issue seems to be that you have some property which have no value. For example line 7277, `path:` has not value. ![image](https://user-images.githubusercontent.com/1031227/102091865-3c5cae00-3dd4-11eb-94b9-e8d1021e84cc.png)

I am not sure why though it is not showing the correct lines for the errors, as it should be working. So I'll look into that.

[2020-12-14 15:08] josh-oakes commented on #3706
My apologies, didn't realize I left this out initially...

Here is the command:

`sudo autorest --input-file=https://sd.kcftech.com/swagger/internal/swagger.json --python --override-client-name=SmartDiagnosticsApi --output-folder=./python --namespace=smartdiagnostics_sdk --package-name=kcf_sd_sdk`

I was using the NodeTool Task initially trying to set a specific version, but I don't think the path

[2020-12-14 15:34] timotheeguerin commented on #3706
Don't seem to encounter this issue with node 14. Might have been an issue at the time. I'll close this, please reopen if you reencounter the problem.

[2020-12-14 15:34] #3706 closed

[2020-12-14 15:40] timotheeguerin commented on #3630
This seems to be an issue with the merger. The issue only happens when there is a circular reference in the model(Property of same type of the model for example) but that is in another file.

[2020-12-14 15:50] timotheeguerin commented on #3733
@bugproof I have a fix for showing the right error line. In the meantime this is the output of running it on your yaml
[code]

[2020-12-14 16:14] iscai-msft commented on #3732
hey @fuomag9, can you try running `autorest --reset`?

If that doesn't work, can you let me know your system information (what OS you're using, what kind of termianl)

[2020-12-14 16:29] fuomag9 commented on #3732
That worked! I managed to generate a python client, but with java it throws a `Error: Plugin javagen reported failure.` error

Full stacktrace ```
VERBOSE [2.15 s]: Reading OpenAPI 3.0 file file:///C:/Users/fuomag9/Downloads/petstore.json

WARNING (PreCheck/CheckDuplicateSchemas): Checking for duplicate schemas, this could take a (long) while.  Run with --verbose for more detail.
VERBOSE [2.28 s]:

[2020-12-14 16:30] fuomag9 commented on #3732
This is the json I'm using:

[code]

[2020-12-14 16:33] iscai-msft commented on #3732
Glad that `autorest --reset` worked! It's always the go to for any autorest versioning / packaging issues.

I'm going to drag in @jianghaolu / @srnagar to help with java issues.

[2020-12-14 17:22] timotheeguerin commented on #3630
Issue seems to actually be part of the deduplication. It is exactly the scenario described in openapi `$ref and Sibling Elements` here https://swagger.io/docs/specification/using-ref/

[2020-12-14 18:35] srnagar commented on #3732
@fuomag9 - I just tried to generate Java code for the swagger provided above. I was able to successfully generate the Java client library. How are you trying to generate the Java code?

For reference, I have provided the command I used (replace output folder name, path to json file and namespace options below).

[code]

[2020-12-14 18:40] fuomag9 commented on #3732
@srnagar the command I'm using is ```autorest --input-file=petstore.json --java --output-folder=prova2 --v3```.

I diffed your command from mine and adding ```--namespace=<anything>``` made it work

[2020-12-14 18:42] srnagar commented on #3732
@fuomag9 So, were you able to successfully generate Java code?

[2020-12-14 18:46] fuomag9 commented on #3732
@srnagar I was!

[2020-12-14 18:46] #3732 closed

[2020-12-14 18:51] srnagar commented on #3732
Thanks for confirming and closing the issue!

[2020-12-14 18:58] timotheeguerin commented on #3630
@weidongxu-microsoft This issue should be fix in modelerfour version . You can use the flag `--@autorest/modelerfour@4.15.441` when the pr is merged .

However you should note that the result will be that `CloudError` is not a model present in the code and all references will be pointing to `ErrorDetails` directly. If having the `CloudError` model is wanted then using `allOf` with the `$ref` insid

[2020-12-14 22:04] #3733 closed

[2020-12-15 02:25] weidongxu-microsoft commented on #3630
Thanks @timotheeguerin, I will try it when released.

`CloudError` not present is fine, though I think for this swagger it should be replace by `ErrorResponse` (not `ErrorDetails`)?

[2020-12-15 07:02] timotheeguerin commented on #3630
yes my bad, not sure why I endedup using ErrorDetails in my repro

[2020-12-15 07:35] timotheeguerin commented on #3621
The problem about the duplicate error is your apis don't define an `operationId` and it defaults to using the tags but as you have multiple api with the same tags, it fails.

You can see those warnings in the output:
[code]
The warning should probably include what generated id to make it obvious, I'll look into that

[2020-12-15 07:57] timotheeguerin commented on #3619
Can you try setting the `title` property on the body definition. It should be using that for generating the model name.

[2020-12-15 08:59] timotheeguerin commented on #3611
@coder89 what do you mean by you have the package installed locally and globally? Autorest will use it own folder for downloading thoses packages(as you can see in the path under `~/.autorest` is the package present there?
Are you getting exactly the same error `Unable to resolve package` ?

[2020-12-15 09:04] timotheeguerin commented on #3609
If you use the version 3.0(`--v3` flag). You'll see a little more helpful error saying there is a conflict with the name `Subscription`. It seems like there is a definition called `Subscription` and multiple api responses as well with the title `Subscription` this is causing issue.

[2020-12-15 18:19] #3609 closed

[2020-12-15 18:19] #3707 closed

[2020-12-15 18:36] daviwil commented on #3708
I think that for a primary schema file (a JSON file used directly) any top-level schema definitions won't be shaken out even if no usage is found.  It's possible we could do a final pass at the end to remove any unused schema definitions since we do have the tracking information that will tell us that.

Regarding @sacheu's question, neither `usage` or `serializationFormat` are required in the Code

[2020-12-15 19:14] #3630 closed

[2020-12-15 20:09] #3621 closed

[2020-12-16 14:46] timotheeguerin commented on #3606
So there is 2 part to this issue I believe.
1. An issue with emoji, have a fix for that.
2. You are using `oneOf` in the payload which is not supported in autorest https://github.com/Azure/autorest#openapi3-support.

[2020-12-16 16:45] timotheeguerin commented on #3597
@rjmholt are you still having this issue? This does look like the error when using `console.log` in an extension.
A simple way to verify first if its your code would be to remove the --use parameter

[2020-12-16 17:02] timotheeguerin commented on #3635
This seems to only apply when `Child > Parent > SuperParent` and Parent doesn't have any properties

Simple repro
[code]

[2020-12-16 17:13] rjmholt commented on #3597
Yes @fearthecowboy helped me solve it. I needed to upgrade off of node LTS to node 14, because LTS was emitting a deprecation message or something similar that was taking down the transport channel.

[2020-12-16 17:13] #3597 closed

[2020-12-16 18:03] timotheeguerin commented on #3635
This actually seems to have be done by design in `prechecker.ts` where it would remove intermatediate types

[2020-12-16 18:58] forteddyt commented on #3729
It looks like the issue was that I removed the following from package-2020-08-01 in the readme
[code]

adding that back (at line 27, in my case) resolved my issue

[2020-12-16 18:58] #3729 closed

[2020-12-16 18:59] daviwil commented on #3729
Great, glad to hear you were able to get it resolved!

[2020-12-17 00:00] ShivangiReja opened #3746 "@autorest/core didn't pick the pinned version "3.0.6326", instead it picked the latest version"
We pinned `version: 3.0.6326` in `autorest.csharp` repo [here](https://github.com/Azure/autorest.csharp/blob/feature/v3/readme.md#L1019
) but autorest picked `'@autorest/core' - '3.0.6348'` version instead.

For reference  check [here](https://dev.azure.com/azure-sdk/public/_build/results?buildId=657655&view=logs&j=b5cdfb1e-c180-561f-918e-a169e451719e&t=aff748e3-476c-56d1-ae31-4029fde28653&l=52).

[2020-12-17 00:13] ShivangiReja commented on #3746
Ahh, accidentally created this issue here.

[2020-12-17 05:17] leni-msft opened #3747 "Cannot read property 'has' of undefined"
**Describe the bug**

- OpenAPI files having the issues:
https://github.com/Azure/azure-rest-api-specs/blob/f73602d/specification/resources/resource-manager/readme.md

- Autorest command used
[code]

**Expected behavior**
It shouldn't throw Error.

**Additional context**
It looks like a regression bug. With old core version `3.0.6320`, it doesn't throw error.
[code]

[2020-12-17 05:18] leni-msft commented on #3747
@timotheeguerin could you take a look?

[2020-12-17 10:05] timotheeguerin commented on #3746
So i have been looking at this and I think the main problem is that the config file only gets read by autorest-core hence it can't be used to pick the core version. This might not be that easy of a job. Maybe i am missing something if @daviwil you are saying Garrett used to have this working

[2020-12-17 11:44] timotheeguerin commented on #3746
So nvm my previous message, after looking more into this mess, there is some code to load a version of core to be able to load the config and try to extract the version. That code is crashing right now due to package not found, I believe this is due to the static-linked dependencies as that code is not started with static-linked

[2020-12-17 14:43] timotheeguerin commented on #3746
Lot of weird thing is happening here. I think there is 2 issues for the Charp readme in particular:
- When looking for config files autorest will look for files having this "Magic" string `\n> see https://aka.ms/autorest` to figure out if its a config file. Seems like the readme in the csharp is missing that so it just skip that file when trying to get the version.
- Something I fixed in the pr, t

[2020-12-17 16:19] iscai-msft opened #3750 "auto naming of objects breaking python"
In the cases of auto-naming, it appears that `-` is getting tacked on (i.e. in this case, the object schema for the `sku`. property in `AvailableServiceSku` [here](https://github.com/00Kai0/azure-rest-api-specs/blob/kaihuis-track2-datamigration/specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/Services.json#L29), we get `AvailableServiceSku

[2020-12-17 16:27] #3747 closed

[2020-12-17 17:33] pakrym commented on #3746
The configuration from the file is definitely loaded because it's now working fine and loading the version that's defined in the file again.

It does right now, what I wonder is how did we get broken by core change that we should've never loaded.

Does autorest try to load latest core first and then falling back to the one defined in the config?

We have runs on windows and Linux, both failed.

Lo

[2020-12-17 17:41] timotheeguerin commented on #3746
Hhm yeah so the way it works(which kinda sucks) is it will try to download/use a version of core that is available to parse the config file. I guess this might have been your issue all along, that version had a bug that prevented from being downloaded. I really don't like this requirement to download core to execute that internal code, it is extremely prone to breaking, we can see if we can extrac

[2020-12-17 17:43] pakrym commented on #3746
Yeah, we did all the work to be in control of all the versions and avoid accidental breakage and it still got us.

[2020-12-17 17:45] pakrym commented on #3746
One option would be embedding a version of core into autorest itself instead of downloading latest. Or pinning the version of core that's downloaded to the version of autorest.

[2020-12-17 17:53] timotheeguerin commented on #3746
yeah the easiest solution would be to include core into the cli, just for that. Though the best might be to just extract the config  parsing section into a separate package that both the cli and core can consume

[2020-12-17 19:37] #3746 closed

[2020-12-17 21:17] daviwil commented on #3746
A fix for this is issue has been published with the latest `autorest`:

[code]

Let us know if this works for you!

[2020-12-18 07:51] timotheeguerin commented on #3750
Looking at this I think this is a side effect of my fix to prevent renaming to already used values.
https://github.com/Azure/autorest.modelerfour/pull/374

This is not a new issue as the problem here would have been that it was Converting `AvailableServiceSku-Sku` to `AvailableServiceSku` which already exist. But now as it find it already exists it won't rename it.

[2020-12-18 08:01] timotheeguerin commented on #3750
I have a fix for that, wondering now what should be the correct behavior.
Right now I have it that it will try to remove duplicate consecutive words and check if the new name already exists.
If it does it will try to style the name without removing duplicates and check if that new name already exists.
If it doesn't use that otherwise just ignore the rename.

Now the problem with this is if there i

[2020-12-18 18:58] markm77 commented on #3621
Thanks @timotheeguerin for the comment.

I have tried again using variants of below config with latest C# beta from Nuget (3.0.0-beta.20201217.1).

Should the "directive" below solve the operationId issue you refer to?

Also do you have any info why "csharp" section leads to "Cannot resolve pipeline stage 'openapi-document/identity'"?

Many thanks for any help.

[code]

[2020-12-20 01:47] iorlas opened #3751 "Client is unable to be generated when 1st operation is referenced with $ref"
**Describe the bug**
We've been trying to get an advantage or $ref linking for the paths to split almost 10k-lines sized spec. The issue is, even on a simple spec file, we are unable to produce the client with autorest for the **TypeScript**. It produced an error. The input file was successfully validated with IBM OpenAPI Validator, so there should be 0 issues from the spec itself.

After spending

[2020-12-20 02:03] iorlas opened #3752 "References $ref to the local files are not being processed"
**Describe the bug**
We've been trying to get an advantage or $ref linking for the paths to split almost 10k-lines sized spec. The issue is, even on a simple spec file, we are unable to produce the client with autorest for the **TypeScript**. The input file was successfully validated with IBM OpenAPI Validator, so there should be 0 issues from the spec itself.

With the file provided below, autore

[2020-12-20 09:20] iorlas commented on #3752
I've tried to debug it a bit, to get an idea is it the TypeScript generator went crazy, or it is something really wrong with the autorest core. I've tried to create autorest clients using other languages: golang, java, csharp.

So, it turns out everything is much worse in other stacks:

**GoLang** fails with `System.InvalidOperationException: Nullable object must have a value.`
Command: `autorest

[2020-12-21 09:56] cheahengteong opened #3753 "TypeScript: TypeError: Cannot read property 'key' of undefined"
**Describe the bug**
When I using the following command in terminal and my swagger currently is 2.1.0 and I upgrade to v3

low Beis my json file
[code]

and it shows the error:
**TypeError: Cannot read property 'key' of undefined**

[2020-12-21 10:14] cheahengteong opened #3754 "Error: Plugin typescript reported failure."
**Describe the bug**
I had try the v2/1a-code-generation-minimal and it show me **Error: Plugin typescript reported failure.**
[code]

[2020-12-21 12:21] deaktomi opened #3755 "XML comment on Enums"
**Describe the bug**
When I create an enum in my swagger.json, something like this:
[code]
I get the following XML comments for a method that has a `MyType` parameter:

**Expected behavior**
I believe it should be something like this:

Can it be achieved somehow?

[2020-12-21 12:48] kant2002 commented on #3560
@daviwil No it did not. I test each of new version and on some APIs this plainly does not work. Up to 3.0.6322
Only `autorest --version=3.0.5537` do the trick.
What steps can I take to troubleshoot the issue?

[code]

Nothing generated even if output say so.

[2020-12-21 12:53] kant2002 commented on #3560
With last working version
[code]

[2020-12-21 16:15] iscai-msft commented on #3750
sorry i totally forgot to respond on friday.

I briefly remember the discussion to remove duplicates in the name (can't fully remember the specifics). But in this case (where removing the duplicates clashes with an existing name), I'm thinking it would be better to allow them. I think it's safest to stick to alphanumeric where possible, and I think having something like `AvailableServiceSkuSku` is

[2020-12-23 19:09] iscai-msft opened #3756 "xml name not showing up"
Hey guys, it appears we're not outputting an xml name where I would expect m4 to output it. @tasherif-msft found when generating storage, [this](https://github.com/Azure/azure-rest-api-specs/blob/3901b436d624fad088010fe9554b626d4ee01fd1/specification/storage/data-plane/Microsoft.FileStorage/preview/2020-04-08/file.json#L5600) swagger wasn't outputting an xml name section. While previously it would

[2020-12-24 01:30] dolauli commented on #3615
@daviwil Any update on this issue?

[2020-12-29 23:41] lmazuel commented on #3719
@daviwil @timotheeguerin We should do that in autorest.core: if azure-arm and not credential-scopes, then credentials-scopes: https://management.azure.com/.default

[2020-12-30 20:24] eluchsinger opened #3757 "Support self-signed certificates"
**Describe the bug**

When trying to get the OpenAPI Specification from a remote place, like `https://localhost:5001/swagger/v1/swagger.json`, autorest will fail to read teh file: Error: Could not read 'https://localhost:5001/swagger/v1/swagger.json'.

Apparently, this has to do with the certificate being self-signed because that's how Visual Studio works.

**Expected behavior**

Autorest should b

[2021-01-02 08:51] BlackRider97 commented on #3581
We are also searching for similar configurations. Currently git shows files modified in not-staged area but they only differ by line encoding.

[2021-01-04 08:22] timotheeguerin commented on #3757
can you try adding `NODE_TLS_REJECT_UNAUTHORIZED=0` environment variable and see if that works. I guess we could add a dedicated flag/environment variable to support this scenario

[2021-01-04 08:26] timotheeguerin commented on #3755
when you mean xml comment are you refering to CSharp xmldoc?

[2021-01-04 08:48] timotheeguerin commented on #3752
Believe your 2 issues(with #3751) are the same problem which is $ref is not supported right under path. I'll take a look

[2021-01-04 09:49] deaktomi commented on #3755
Yes

[2021-01-04 10:10] timotheeguerin commented on #3755
It does seem this might be an issue with the [csharp genertor](https://github.com/Azure/autorest.csharp) as it seems like autorest doesn't modify the description.
![image](https://user-images.githubusercontent.com/1031227/103523626-00e05d00-4e31-11eb-9894-c5758b3ddaec.png)

You can create an issue there instead.

[2021-01-04 10:10] #3755 closed

[2021-01-04 10:52] timotheeguerin opened #3759 "Support $ref to a whole file"
Creating this feature from the 2 issues #3751 and #3752.
Problem is autorest right now doesn't support using $ref to a full file. As this first piece of code just ignore those refs https://github.com/Azure/autorest/blob/master/packages/extensions/core/lib/pipeline/plugins/ref-crawling.ts#L137-L140.

There is however more problems too down the pipeline where it expect other files to also be in the

[2021-01-04 10:54] timotheeguerin commented on #3752
understanding more, this is not something we support at all at the moment. I created a new feature request  #3759. Will close this one.

[2021-01-04 10:54] #3752 closed

[2021-01-04 10:54] timotheeguerin commented on #3751
understanding more, this is not something we support at all at the moment. I created a new feature request  #3759. Will close this one.

[2021-01-04 10:54] #3751 closed

[2021-01-04 11:23] gerardsimons commented on #3258
When an application crashes when you are just trying to run `--version` ... that's a bad sign for me. I appreciate all the hard work but this tool could use some work. Unfortunately, I don't think any of the other code generators support Azure functions though so I really need this.

[2021-01-04 11:24] timotheeguerin commented on #3756
Seems to be an issue with using a `$ref` along side. It works just fine, with the type inline  or with having the xml attribute in the referenced type
![image](https://user-images.githubusercontent.com/1031227/103529904-57529900-4e3b-11eb-8297-71d4fd9a96b3.png)

This however seems to be the expected behiavor of the openapi specs. https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.

[2021-01-04 11:24] #3756 closed

[2021-01-04 11:35] timotheeguerin commented on #3753
Do you have a `openapi/swagger` file you can reproduce this issue with?
Could you also share the command line you used?

[2021-01-04 11:45] timotheeguerin commented on #3754
Believe this might be and issue with https://github.com/Azure/autorest.typescript. I see you are using a dev version `6.0.0-dev.20201105` how are you configuring this and is this expected?
I tried running
[code]

and it worked just fine but the autorest.typescript version used is `4.2.4`
[code]

[2021-01-04 12:03] timotheeguerin commented on #3719
Trying to understand, right now this flag is just being handled by the language generators themself? What is expected to happen here is that autorest core will inject `--credential-scopes=https://management.azure.com/.default` if the `--azure-arm` flag is being passed?

[2021-01-04 12:55] gerardsimons opened #3760 "FATAL: Error: name is empty OpenAPI v3 with Python Azure function"
**Describe the bug**

I am trying to generate Azure Python functions for an OpenAPI v3 yaml file which is validated and should be working (see ZIP file for YAML file

[afi.v1.zip](https://github.com/Azure/autorest/files/5764735/afi.v1.zip)

[code]

as per the example given on the GitHub page, but with my own YAML file. Unfortunately, it gives me the following error output

[code]

**Expected behav

[2021-01-04 13:53] timotheeguerin commented on #3760
Seems like you have a property without a name line 161
![image](https://user-images.githubusercontent.com/1031227/103541943-09489000-4e51-11eb-96a4-0a008f04fe86.png)

[2021-01-04 13:53] #3760 closed

[2021-01-04 14:49] gerardsimons commented on #3760
Ah duh, thanks @timotheeguerin. That's silly of me. It's odd though that it still seems to pass the OpenAPI spec validators.

[2021-01-04 16:58] iscai-msft commented on #3756
ok thanks @timotheeguerin! @tasherif-msft looks like some swagger changes need to be made

[2021-01-04 17:01] iscai-msft commented on #3719
yep! currently some languages are doing this themselves, go into it a little bit in the `credential-scopes` section of [flag docs](https://github.com/Azure/autorest/blob/new_docs/docs/generate/flags.md). Since there's this different behavoir and we want unified, would be nice for autorest core to handle it.

side note: if users input `--azure-arm --credential-scopes=myscopes`, we should respect th

[2021-01-04 17:44] lmazuel commented on #3719
+42 for everything @iscai-msft said ;)

Taking an extra step back, we have several rules right now to change autorest configuration is `azure-arm: true`, we should probably make sure we centralize them in one place.

[2021-01-04 18:02] #3651 closed

[2021-01-04 18:08] daviwil commented on #3754
Going to move this one to autorest.typescript so they can take a look

[2021-01-04 20:08] #3750 closed

[2021-01-04 20:09] #3635 closed

[2021-01-04 20:09] #3650 closed

[2021-01-04 20:37] timotheeguerin commented on #3527
Believe this issue is due to running node as `root` See this stackoverflow for information and solution https://stackoverflow.com/questions/51811564/sh-1-node-permission-denied

[2021-01-04 20:37] #3527 closed

[2021-01-04 23:45] iorlas commented on #3752
@timotheeguerin That is so unfortunate... But understandable, considering there are so many things in the backlog.

I'm just curious, if it is not possible to use refs with autorest right now, how you guys compose complex openapi specs? I don't believe you are writing 5k-lines length files, you gotta be using preprocessors of some sort, right? What is your best practice here (or maybe in MS/Azure)

[2021-01-05 00:51] pakrym opened #3761 "Request/response headers with x-ms-header-collection-prefix should be modeled as a string dictionary"
Currently, they are modeled as strings.

Required for storage data-plane.

[2021-01-05 02:11] weidongxu-microsoft commented on #3650
@timotheeguerin

I see, that this is actually in purpose by m4.

There is indeed valid cases that enabling the flag actually helps, especially for not-well-written swagger, like below:
anonymous property: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/managedClusters.json#L2971-L2974
anonymous t

[2021-01-05 08:24] timotheeguerin commented on #3752
It is possible to use `$refs` but you have to have the secondary files also follow the same structure.
e.g.

In `main.json`
[code]

In `foo.json`

[code]

[2021-01-05 08:27] timotheeguerin commented on #3650
@weidongxu-microsoft Yeah so right now I added a flag to enable or not the feature. I also had in mind to make the flag an choice option which would let you also pick to only remove anonymous types like that but keep explicitly named models.
Let me know if such option would make sense

[2021-01-05 08:50] timotheeguerin commented on #3548
@danikaZ hey! is this still happening? If so can you try with the latest version of autorest?

[2021-01-05 08:59] timotheeguerin commented on #3545
@ThomasEg Hey, I don't think you can reference an extension via the git url if the repo doesn't corespond to a valid extracted npm package(Which is not the case here as it needs some compilation steps and the package is under `src/AutoRest.CSharp`.

See trying to run it directly:
[code]

[2021-01-05 08:59] #3545 closed

[2021-01-05 09:05] timotheeguerin commented on #3532
I have been using node 14 and everything seems to work fine, might have been resolved since then, Do you have a specific command still failing and what error is it showing?

[2021-01-05 09:05] #3532 closed

[2021-01-05 09:08] timotheeguerin commented on #3506
@jstevensgithub Does the following commands fail for you as well?
[code]

[2021-01-05 09:19] iorlas commented on #3752
@timotheeguerin So we can split the components into multiple files, got ya.

But what about the paths?

Like, it also becomes an issue. Even when all the payloads and query params are offloaded into separate files. Each endpoint will take 14-20 lines, even a simple API with 5-10 entities becomes a headache in the same yaml file.

Is it considered a problem in your practice, how you manage it?
I kn

[2021-01-05 09:20] timotheeguerin commented on #3477
@lachambe, Hey, are you still having this issue? you should be able to force your project to use a newer version of `System.Text.RegularExpression` without the vulnerability.

If you are still having this problem https://github.com/Azure/azure-sdk-for-net is the place for the `Microsoft.Rest.ClientRuntime` package.

[2021-01-05 09:20] #3477 closed

[2021-01-05 09:30] timotheeguerin commented on #3752
Yeah, it can be a little tricky to work like that on large openapi specs. Autorest support taking multiple input-files as input which can all have a seperation of concern but still require some verbosity and not really optimal if you want to use 1 file per path. Using a readme.md you can list all the configuration and input files there

See https://github.com/Azure/azure-rest-api-specs/tree/master

[2021-01-05 09:36] iorlas commented on #3752
Ah, so we can split it into multiple files to group paths and resources by the scope and feed it into the autorest. Sounds nice, we'll try it out, thank you so much! 🍺

[2021-01-05 09:39] timotheeguerin commented on #3445
@kevinoid Hey, which language are you having an issue with? Is it also still the case?
This seems like this would be an issue with the corresponding language generator.

[2021-01-05 14:13] kevinoid commented on #3445
Thanks for taking a look @timotheeguerin.  I am still able to reproduce with autorest-core 2.0.4413 or 3.0.6246 and autorest.csharp 2.3.84.  If you could move this issue to [Azure/autorest.csharp](https://github.com/Azure/autorest.csharp/), I'd appreciate it.

Note: I was unable to test with `@autorest/csharp-v3@3.0.0-beta.20201217.1` due to:

    FATAL: Error: Not able to process media type */* a

[2021-01-05 14:24] timotheeguerin commented on #3445
The */* issue is because your swager 2 specs are not providing a `produces` with the format so it defaults to `*/*` which is not supported

[2021-01-05 14:27] weidongxu-microsoft commented on #3650
@timotheeguerin
I've send some email to other generator about the new option and see their response (mostly for Python as they are actively using m4, I am on Java), and whether they might prefer the choice to only remove anonymous types.

In long term, Swagger is going to forbid the anonymous types (via some lint tool), as these are ambiguous for SDK generation. However they cannot be removed dire

[2021-01-05 14:41] timotheeguerin commented on #3438
Tried to reproduce this issue by doing
1. `autorest --reset`
2. Running autorest using the python package requesting m4 `4.8.221`
3. Running autorest using the python package `5.5.0` request m4 `4.15.421`

And on step 3 it did use `4.15.421` as epxected
![image](https://user-images.githubusercontent.com/1031227/103659168-f69d8c00-4f20-11eb-9170-c99fa2a487e5.png)

As this was a while ago I don't kn

[2021-01-05 14:41] #3438 closed

[2021-01-05 14:56] #3435 closed

[2021-01-05 15:16] timotheeguerin commented on #3434
Hey @matthchr are you still having this problem? I just tried generating the typescript and it does respect `x-nullable` or `nullable` for openapi 3.0.

If this this is still happening I guess this is an issue with the CSharp generator itself

[2021-01-05 16:04] matthchr commented on #3434
Hey Tim! Hope you're doing well.

I am actually not sure if this is still happening. @bgklein should be able to loop in the right people to see if this is still an issue.  It may indeed just be a problem with the C# generator.

[2021-01-05 16:24] timotheeguerin commented on #3428
Can anybody reshare an openapi file having this issue? @lukewis if you manage to pinpoint the issue could you share the  minimal repro?

[2021-01-05 16:39] timotheeguerin commented on #3681
Hey @joherdi, this seems to be fixed now, for this openapi3
[code]
![image](https://user-images.githubusercontent.com/1031227/103672372-12a92980-4f31-11eb-8742-d9f3fb7ebc7a.png)
The typescript code also include the right name
![image](https://user-images.githubusercontent.com/1031227/103672555-4be19980-4f31-11eb-881d-94b1b9c82cc6.png)

If you can still reproduce the issue, please reopen and  can y

[2021-01-05 16:39] #3681 closed

[2021-01-06 00:11] ShivangiReja commented on #3695
@lmazuel I really like the second option and it would work well with c#. Thanks for suggestion.

[2021-01-06 18:28] tjprescott opened #3762 "Modeler4 does not apiVersion in Swagger and synthesizes its own"
**Describe the bug**
I was attempting to generate code to test the following testserver swagger for autorest.swift:(https://github.com/Azure/autorest.testserver/blob/master/swagger/validation.json)

it contains an apiVersion parameter definition
[code]

The test is supposed to verify that the pattern validation is correctly applied to apiVersion.

However, modeler4 creates a synthesized apiVersion

[2021-01-06 20:58] nagarakesh4 commented on #3706
same issue for me, works fine with the csharp example, however python is throwing the same error

doesn't work with python:
`autorest --input-file=petstore.yaml --python --output-folder=./CSharp_P --namespace=PetStore`
error:
`The "data" argument must be of type string or an instance of Buffer, TypedArray, or DataView`

works fine with csharp:
`autorest --input-file=petstore.yaml --csharp --output

[2021-01-06 21:41] timotheeguerin commented on #3706
@nagarakesh4 Could you share the openapi file you are using? Also that 2nd error, is it happening consitently?

[2021-01-06 21:43] nagarakesh4 commented on #3706
if you meant the input file, then i just got the petstore.yaml from git repo

`https://github.com/Azure/autorest/blob/master/docs/examples/generating-a-client.md`

`curl -O https://raw.githubusercontent.com/Azure/autorest/master/Samples/openapi-v2/1b-code-generation-multilang/petstore.yaml`

[2021-01-06 21:46] timotheeguerin commented on #3706
Yeah sorry `--version` is not showing the version it is used to pick which version of autorest core to use if not the default

[2021-01-06 21:49] timotheeguerin commented on #3706
is the first error still hapening after you run `autorest --reset`

[2021-01-06 21:55] nagarakesh4 commented on #3706
i did autorest --reset, this time i got python no module found error

[code]

[2021-01-06 22:03] timotheeguerin commented on #3706
I think that issue is due to having some different version of python available where it seems like it does part of the job with different python version(My guess). I would open an issue on the autorest.python repo for this, they might have more insight on it.

[2021-01-07 05:20] MikhailTryakhov opened #3764 "Unable to find a valid AutoRest core package '@autorest/core'"
**Describe the bug**

Installed autorest using command ```npm install -g autorest```
I need autorest 2.0.4413 version but changing version I have failure from 2 different machines...
[code]

**Expected behavior**
Successful update to the version specified

[2021-01-07 23:00] pavelprystinka opened #3765 "LRO using Location header handle failed status"
Hi

I have an LRO described as:

    "/administration/phonenumbers/searches": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Creates a phone number search",
        "operationId": "PhoneNumberAdministration_CreateSearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parame

[2021-01-08 10:44] leni-msft commented on #3747
@timotheeguerin Thanks for fixing this. Would you release a new autorest.core version?

[2021-01-08 11:20] kant2002 commented on #3560
@daviwil can you take a look?

[2021-01-08 14:34] older commented on #3601
So are there any plans to update autorest to use LTS version of .NET?

As far as I understand current version of aurorest is using .NET Core SDK 2.0 which has reached end of life more than 2 years ago in 2018 and is not supported by Microsoft any more. So it means that autorest doesn't work on Ubuntu 20.04 which is now default version for WSL2 and in [Microsoft hosted agents in Azure DevOps](https

[2021-01-08 15:17] timotheeguerin commented on #3747
I believe some new version got released since then, looking at it `3.0.6351` should have the fix

[2021-01-08 16:23] rikogeln opened #3766 "x-ms-pageable examples missing"
docs/extensions/readme.md mentions example files for the use of the swagger x-ms-pageable extension.
"Full code: example1.yaml, example1.cs" in line 908 and 909 - the mentioned files do not exist and lead to a 404

i'd expect the samples to be present

[2021-01-08 18:06] timotheeguerin commented on #3766
hhm looking at the history seems like those samples were never added with the links. @iscai-msft would you know if those samples are somewhere else?

[2021-01-08 19:01] timotheeguerin commented on #3764
Hey @MikhailTryakhov what is the command line you are using to get this error?

[2021-01-08 19:19] daviwil commented on #3747
I think @autorest/core needs to be updated on npm, let me run the pipeline to get that out.

[2021-01-08 19:26] MikhailTryakhov commented on #3764
@timotheeguerin  different ones. Command prompt (regular one), node.js cmd, Dev cmd from VS 2019

[2021-01-08 19:27] MikhailTryakhov commented on #3764
same issue everywhere

[2021-01-08 19:32] daviwil commented on #3747
Just pushed out the version that Tim mentioned:

[code]

[2021-01-08 19:40] daviwil commented on #3764
@MikhailTryakhov I believe Tim is asking what is the exact `autorest` command invocation are you using, meaning what paremeters are you passing to it?

[2021-01-08 19:45] MikhailTryakhov commented on #3764
@daviwil @timotheeguerin  oh sorry I'm using autorest --version:2.0.4413

[2021-01-08 20:58] epanipinto-jc opened #3767 "When x-ms-enum is used in response the generated function does not return value as string"
This might be a PowerShell generator specific issue.

I am using `x-ms-enum` in my swagger spec to populate and validate against parameter values of the generated functions in PowerShell, essentially trying to mimic PowerShell ValidateSet feature.

I have a model that is referenced in a parameter object and in a response object. After running autorest to build the module and running the command I

[2021-01-08 23:26] timotheeguerin commented on #3764
@MikhailTryakhov have you tried running `autorest --reset`? If that doesnt work could you try running `npm install @microsoft.azure_autorest-core@2.0.4413` somewhere and see if the package succeed in installing on your machine.

[2021-01-09 09:27] weidongxu-microsoft commented on #3650
OK. I see there is already `x-internal-autorest-anonymous-schema`. Nice job.

[2021-01-09 11:12] weidongxu-microsoft commented on #3650
@timotheeguerin

@qiaozha from JS SDK also feel that the 3rd choice of "only removing empty anonymous types" would be helpful. Same as me, if this does not put too much efforts on m4.

[2021-01-11 06:52] leni-msft commented on #3747
cool. thanks both!

[2021-01-11 07:44] jianyexi opened #3769 "Add flag printing the configuration used"
An example , if I want to dump the csharp generator runtime config:
autorest --dumpConfig --csharp   path-to-readme/readme.md

The output is config map like , but the generator won't run exactly:
[code]
As the config may impact the generator behavior , I want to know whether the **readme file change**  in PR reviewing will impact the code generator . so that I can detect the change before it being

[2021-01-11 17:40] iscai-msft commented on #3766
i've never heard of those ssamples, I'll remove them from the docs to avoid confusion

[2021-01-11 18:30] timotheeguerin opened #3778 "[TestServerV2] Body pattern matching"
Have request body matching more flexible.
If json, should do a deep compare.

[2021-01-11 18:57] timotheeguerin opened #3771 "[TestServerV2] Templating"
Support basic templating for response using a strict context.

[2021-01-11 20:13] MikhailTryakhov commented on #3764
That helped! Thanks a lot!

[2021-01-11 20:13] #3764 closed

[2021-01-11 22:00] #3771 closed

[2021-01-11 23:28] iscai-msft commented on #3766
removed these erroneous links, closing this issue thanks @rikogeln !

[2021-01-11 23:28] #3766 closed

[2021-01-12 15:39] timotheeguerin commented on #3767
As you suggested I think this is an issue with the powershell generator. The processed model looks good and it generate the correct file in typescript.

[2021-01-12 21:25] #3778 closed

[2021-01-12 21:34] timotheeguerin commented on #3769
You can actually add `--output-artifact:configuration.yaml` which will create a `configuration.yaml` in the `output-folder` with the entire config.

[2021-01-12 21:34] #3769 closed

[2021-01-12 22:08] iscai-msft commented on #3765
adding @pakrym and @ShivangiReja since this is .net code. For Python, we use `202` in location polling to determine whether the polling is still in progress. However, we have a separate call before this to verify that the response code is in `[200, 201, 202, 204]`. How does .net do things

[2021-01-12 23:59] ShivangiReja opened #3780 "WriteOnly property is not supported by Autorest v3"
WriteOnly property throws `EXEC : error : Schema violation: Additional properties not allowed: writeOnly`. Looks like it is not supported by autorest. It is useful for the password type property where the property is required when sending a request and not required in response.

Here's the openapi docs for writeonly property https://swagger.io/docs/specification/data-models/data-types/

Can we add

[2021-01-13 00:31] lmazuel commented on #3765
Hi @pavelprystinka

I assume your question is about: what about a failure during the Location polling? Otherwise as @iscai-msft was saying, for the initial call the question is simple. There is no simple answer, as this is not defined in the ARM spec:
https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#202-accepted-and-location-headers

The Azure-AsyncOperation or Oper

[2021-01-13 00:31] #3765 closed

[2021-01-13 07:36] jianyexi commented on #3769
Thanks , this solve my problem in part , is there a way to get the config while not run the generator exactlly.

[2021-01-13 10:41] leni-msft commented on #3616
Hi @timotheeguerin , the bug seems still there:
[code]
Could you check again?

[2021-01-13 15:51] timotheeguerin commented on #3769
Do you mean not generate the code? What if you don't use the `--csharp`

[2021-01-13 16:07] timotheeguerin commented on #3616
This is weird i tried running the same command as you in the `azure-rest-api-specs` repo and it works. From the logs it also seems like its using the latest `@autorest/core` version so I don't really know why you would have a different result.

Did you try running `autorest --reset`?

[2021-01-13 16:22] iscai-msft opened #3781 "how should we generate clients with no host"
Got an [issue](If host is not specified, it is assumed to be the same host where the API documentation is being served.) on the autorest.python repo that partially arose since the person didn't define a `host` in their swagger. I told them to use a host, but from this, it does look like we're not handling a "no host" client very well.

Accordinig to the [open api docs](https://swagger.io/docs/spec

[2021-01-13 20:27] lmazuel commented on #3781
This is not sustainable in our scenario, we need a host in the Swagger. And this means we make it required, so bet it. I don't see how we could do otherwise.

[2021-01-14 02:18] jianyexi commented on #3769
Yes, I think if not specify the `--csharp` , the config inside the csharp generator won't be dump to the configuration.yaml   , right ?

[2021-01-14 02:33] leni-msft commented on #3616
did you checkout the specific revision?
[code]

[2021-01-14 02:34] leni-msft commented on #3616
you can also find the error in https://github.com/Azure/azure-rest-api-specs/pull/12411#issuecomment-759332862 . In the PR, I tried to revert the previous hotfix. So in current master branch, there's no $ref in examples for you to reproduce the bug.

[2021-01-14 02:35] jianyexi commented on #3769
In addition,  sometimes it takes too much time to generate a large RP,  and I  want to know the config is changed or not to decide whether I need to re-generate the code  against last generation.

[2021-01-14 02:59] msyyc opened #3782 "[Python] Python track2 autorest tools generate surplus files"
**Describe the bug**
[code]
ENV: Linux
Python:3.6.9
Command:/usr/local/bin/autorest /_/azure-rest-api-specs/specification/digitaltwins/resource-manager/readme.md --multiapi --python --python-mode=update --python-sdks-folder=/_/azure-sdk-for-python/sdk --track2 --use=@autorest/python@5.4.3 --version=3.0.6272

(azure-rest-api-specs  repo: https://github.com/Azure/azure-rest-api-specs.git)
(azure-sdk

[2021-01-14 16:55] timotheeguerin commented on #3781
@lmazuel why do we say we should require the host for sure? Couldn't we get the default host to be where the file is hosted?(as the specs specify).
We could probably exclude some domains like `github.com` where it will not default to be from that url.

[2021-01-14 20:40] iscai-msft commented on #3781
to add to the discussion, @agniveshadhikari has replied to the original python issue

[code]

I'm waiting to see if this. can be something solved by a parameterized host. However, if that is not the case, would we be able to accept no host and instead rely solely on user input (and make it a required user parameter)? I know t his would't fully conform to swagger standards, but not allowinng a host

[2021-01-14 21:55] brianwp3000 commented on #3046
I've been experimenting with using AutoRest to generate a client SDK for the Azure PlayFab API (swagger files [here](https://github.com/PlayFab/API_Specs/tree/master/Swagger/PlayFab)) and ran into this issue--the PlayFab API uses a bunch of `x-ms-*` headers that aren't documented in AutoRest so it fails due to schema errors.

Could this validation be moved to a configuration flag that can be enabl

[2021-01-15 01:49] LucasYao93 opened #3792 "Rename definiation or property name"
**Describe the issue or request**
When the object model name and one of its complex property name are same in swagger.json, an exception was throw when generating csharp.

Details as flows:

EXEC : error (): **Duplicate object schemas with 'Capabilities' name  detected.**[D:\azure-sdk-net\master\azure-sdk-for-net\sdk\containerinstance\Azure.ResourceManager.ContainerInstance\src\Azure.ResourceManag

[2021-01-15 03:16] msyyc opened #3783 "[Python] autorest tools for python track2 generates surplus files '_version.py'"
Env:Linux
Python:3.6.9
Command: /usr/local/bin/autorest /_/azure-rest-api-specs/specification/digitaltwins/resource-manager/readme.md --multiapi --python --python-mode=update --python-sdks-folder=/_/azure-sdk-for-python/sdk --track2 --use=@autorest/python@5.4.3 --version=3.0.6272
(azure-rest-api-specs repo : https://github.com/Azure/azure-rest-api-specs.git)
(azure-sdk-for-python repo : https://gi

[2021-01-15 03:19] #3783 closed

[2021-01-15 06:05] #3615 closed

[2021-01-15 13:54] lukewis commented on #3428
@timotheeguerin I tried again using the latest version and ran into https://github.com/Azure/autorest/issues/3492.  After pinning the version to 3.0.6274 I was able to generate successfully using a model without a parameterless constructor.  From my perspective, this issue seems to be resolved
[code]

[2021-01-15 16:11] timotheeguerin commented on #3428
Thanks @lukewis. I'll close for now, if anybody else still has this issue., please reopen or create a new issue with reproducable specs+parameters if possible

[2021-01-15 16:11] #3428 closed

[2021-01-15 16:37] timotheeguerin commented on #3616
@leni-msft yeah my bad, didn't check it out. I am able to reproduce with the command line you gave. What is weird is if you try to generate the code(add `--python`) then it doesn't crash

[2021-01-15 17:00] timotheeguerin commented on #3781
@iscai-msft Doesn't right now the generated code lets you change the host on creation of the client?

Is there goal to generate a different SDK per tenant? Because supporting this default value would result in them generating one per tenant. That doesn't seem like the right thing to do?

Maybe as you said a parametrized host might do the trick or as we have it now(With maybe a way to mark the host

[2021-01-15 17:21] iscai-msft commented on #3781
For Python, we currently always have `base_url` as optional for users to input, and we default to the value of the host. Took a quick look through c# and I don't believe this is always the case for them (they sometimes have it as required). Edited my previous comment to make the point I had more clear, but I'm trying to see if in this case, we should make the `base_url` param required for users to

[2021-01-15 17:59] pakrym commented on #3781
.net generates an optional parameter for the endpoint(host) but we can also generate a required one just as easily.

[2021-01-15 18:07] iscai-msft commented on #3781
ok thanks @pakrym , def makes me like the idea of making it required in the case of no defined host more

[2021-01-15 22:10] #3616 closed

[2021-01-15 22:10] #3680 closed

[2021-01-16 00:29] lmazuel commented on #3781
That would make sense then, if no host in Swagger then it's a required parameter. I can deal with that. But using the host where the Swagger is is a non-concept in SDK, that will never give something useful (my two cents)

[2021-01-16 01:12] pakrym opened #3786 "Naming rules not applied to all schema names"
When running https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/resources/Azure.ResourceManager.Resources/src/autorest.md

We get

[code]

And

[code]

Not applying naming rules causes the deduplicator to skip this model.

When C# generator runs it applies name cleanup rules resulting in two different models with the same name.

This is a regression after updating to `4.15.442` from `4.15.

[2021-01-18 05:22] jianyexi opened #3787 "Could not find a declaration file for module 'autorest'"
**Describe the bug**
[code]
The code is like below:

`import * as autorest from "autorest";`

I think it's caused by the incorrect 'typings' defined in the package.json

[2021-01-18 08:09] jianyexi commented on #3787
The 'autorest/core' also has this issue.

[2021-01-18 08:10] jianyexi commented on #3787
My code is like this:
`import * as autorest from "autorest";`

[2021-01-18 13:18] PranjaliSoni opened #3790 "Autorest client generation failing for formdata for FileUpload"
I'm trying to upload file via mutlipart-formdata in CSharp. Swagger contains the parameter in the following pattern.
[code]

Using the following command for client generation
[code]
So for this .. client generation works for version "3.0.6130" and for no other version. But this version polymorphism is not working while Client generation.

Is there any version where we will be able to generate clie

[2021-01-18 23:02] ropeladder opened #3791 "Underscore in operationId breaks TypeScript code generation"
As far as I can see operationId allows underscores, so I don't think the following should fail. Although I'm relatively new to both TypeScript and OpenAPI so there may be a good reason they're not allowed. (in which case a clearer error message would be a good idea)

openapi.yaml:
[code]

AutoRest output:
[code]

[2021-01-19 15:44] pakrym commented on #3786
cc @timotheeguerin

[2021-01-19 16:15] timotheeguerin commented on #3792
@LucasYao93 I believe this was already fixed in modelerfour. Could you try using the following flag:
[code]

[2021-01-19 16:17] #3792 closed

[2021-01-19 17:48] timotheeguerin commented on #3786
@pakrym Could you double check this fixes the issue completely
[code]

[2021-01-19 18:22] iscai-msft opened #3793 "add docs for developers"
when adding the docs, be sure to add a section to specify the specs a generator should be respecting.

i.e., we recently ran into an issue with a missing host. We decided in this case that m4 is going to return the host with no `clientDefaultValue`. Generator writers should know that in this case, the host parameter should be made required.

cc @timotheeguerin

[2021-01-19 20:22] pakrym commented on #3786
Yes, looks like https://tinyurl.com/yyh7bjuf works

[2021-01-19 20:26] #3786 closed

[2021-01-19 21:11] #3434 closed

[2021-01-19 22:49] timotheeguerin commented on #3762
From looking at the ApiVersion logic in moderfour, it seems like it decide to generate the parameter in 2 different ways:
1. If there is a single api-version in the specs then it is a constant parameter(Being that one version)
2. If there is multiple api-version it is a choice parameter(Being the list of available versions)
In both cases it ignores the `pattern` field as it makes no sense as this

[2021-01-19 23:29] pakrym opened #3794 "M4 4.15.449 incorrect property naming"
multiple-inheritance:

![image](https://user-images.githubusercontent.com/1697911/105106522-e8945300-5a6a-11eb-91f8-a2998a9cec95.png)

httpInfrastructure:

![image](https://user-images.githubusercontent.com/1697911/105106635-1da0a580-5a6b-11eb-9b88-09f54feba3b4.png)

[2021-01-20 12:38] mathiash98 commented on #976
This should be quite high priority. Testability is very important. We can write a wrapper but that sort of ruins the point for autogenerated code.

[2021-01-20 16:54] #3787 closed

[2021-01-20 16:57] timotheeguerin commented on #3479
Hi, will close this as this issue is quite old and is  missing information to investigate. If you are still having this issue please reopen or create a new issue with details of which parameters you are having problems with, the command line you are using, etc.

[2021-01-20 16:57] #3479 closed

[2021-01-20 21:08] timotheeguerin commented on #3440
@xirzec do you know if this issue is still happening, i tried reproducing and it seems to remove the parameter just fine for me.

[2021-01-20 22:17] xirzec commented on #3440
Looks like the error was reproducing for 2.0.4413 but is fixed in 3.0.6322

The big downside is it just flat doesn't work for removing the param, instead I have to replace all the parameters while removing the one I don't want, like this:

[code]

[2021-01-20 22:18] xirzec commented on #3440
This is the swagger I'm modifying btw: input-file: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/search/data-plane/Azure.Search/preview/2020-06-30/searchindex.json

[2021-01-20 23:18] #3794 closed

[2021-01-20 23:23] timotheeguerin commented on #3440
@xirzec I have actually been able to repro the issue(or a slightly different one) with those specs. One problem is that the `$ref` are getting expanded to absolute paths so I have to use this to make sure it match
[code]

Now this crash because it removes the parameter, I'll try to see if there can be a good solution. This is the classic problem of deleting items from an array you are iterating fr

[2021-01-21 00:05] timotheeguerin commented on #3679
Looking at this issue that is related https://github.com/Azure/autorest/issues/3440, I don't see a good way to be able to handle returning `undefined` to remove an item from the list.

However you can already do this as of today using `.filter`
[code]

I guess this could potentially be simplified with something of the sort
[code]
What do you think?

[2021-01-21 00:10] pakrym commented on #3679
I think we need to decide what's our approach to swagger transformations and whether we would like to ship convenient methods for the popular ones.

We have a few transformations to rename/remove property/model/operation.: https://github.com/Azure/autorest/blob/e9bee3709d31d8e01e21c3ab66fc8007696b4301/packages/extensions/core/resources/directives.md

I think it makes sense to add more built-in dir

[2021-01-21 03:25] LucasYao93 commented on #3792
@timotheeguerin
Resolved issue. Thanks for you help.

[2021-01-21 08:26] sarangan12 opened #3797 "SchemaType is set incorrectly for Simple Enum - SealedChoice vs Choice"
**Describe the bug**
Use the following JSON Snippet to generate SDK (I used Typescript SDK. But it does not matter. You can use any language)
[code]

**Expected behavior**
With the above JSON, I have checked the code model received by the SDK Generator. The SchemaType of 'printMediaType' is set to 'SchemaType.Choice'. It should have been 'SchemaType.SealedChoice' (Since this enum is not extensible

[2021-01-21 16:50] timotheeguerin commented on #3679
I see, so looking at the existing built-in directives it seems like having more of a specialized name like makes more sense
[code]

[2021-01-21 17:13] pakrym opened #3798 "Required flag on "type": "object", "format": "file" parameter ignored"
Repro:

use `body-formdata.json` but change required to false.

[code]

Code model would still have `required: true`
[code]

[2021-01-21 18:58] zxue opened #3799 "Invalid doc link to C# in "Using the Generated Client""
The C# hyperlink is invalid. Should it be this, "https://github.com/Azure/autorest.csharp"?

[2021-01-21 19:06] timotheeguerin commented on #3798
@pakrym I just tried to reproduce and it doesn't seem to be including `required: true` for the path where I set `required: false`
![image](https://user-images.githubusercontent.com/1031227/105399541-9ec97b00-5bd8-11eb-9889-a0bfd6b683cc.png)
Are you sure you where not looking at the `fileContent` param from other paths which were still using `required: true`

[2021-01-21 19:11] pakrym commented on #3798
Renamed the parameter to double check:
[code]

[code]

[2021-01-21 19:17] timotheeguerin commented on #3798
my bad I modified the wrong one

[2021-01-21 19:49] timotheeguerin commented on #3798
Ok seems to be an issue in both oai2-to-oai3 converter which drops the property and then in modelerfour which set it to `true` all the time

[2021-01-21 22:19] timotheeguerin commented on #3799
@zxue which link are you referring to?

[2021-01-21 23:25] timotheeguerin commented on #3799
I see the link referenced here https://github.com/Azure/autorest/blob/master/docs/client/readme.md.

This is done on purpose. The CSharp documentation will be updated to respect that strcture.

[2021-01-21 23:25] #3799 closed

[2021-01-22 00:02] timotheeguerin commented on #3797
Azure spec repo has 67 files that will be affected with this change, would be good to check if that matters for them
[code]

[2021-01-22 07:16] projectje opened #3800 "#help #howto resolving circular references"
resolved

[2021-01-22 07:36] r3dDoX commented on #3797
Hi @timotheeguerin. I am the one opening the initial bug. For us this is a problem since the whole OpenApi Spec is getting automatically generated and on the frontend side also automatically generated with Autorest (typescript). Currently we would have to add properties into our OpenApi Spec generation to have the correct enum types on the frontend which is not desirable in these steps.

[2021-01-22 07:51] #3800 closed

[2021-01-22 09:24] kamilkosek opened #3801 "Codegenerator fails on large API definition"
Hi all,
I´ve got quite a large API Definition file from OpenHAB v3 (Smarthome Automation Software), where I cannot generate the code from.
You can find the definition file here: [OpenHAB Swagger JSON](https://gist.github.com/kamilkosek/fa7d9a97fcdcb7233e038c3d601d0438)

I can´t resolve if the issue is related to the model or if its a bug in modelerfour 🤔

This is the debug output from autorest:

`

[2021-01-22 16:10] timotheeguerin commented on #3797
Hi, @r3dDoX I totally understand that. I think the question is more of should we have this change of feature behind a flag or not

[2021-01-22 16:26] timotheeguerin commented on #3801
You have in your spec a `Location` header which has no schema.

[code]

I am not sure however why it is not failing before to tell you the specs are invalid

[2021-01-22 16:29] timotheeguerin commented on #3801
Sorry I guess it does but just as a warning
[code]

[2021-01-22 18:47] timotheeguerin commented on #3692
Can't seem to reproduce with the same Readme.md, guessing this might have been resolved since then.
Please reopen if you still are having this issue.

[2021-01-22 18:47] #3692 closed

[2021-01-22 18:58] #3395 closed

[2021-01-22 18:59] #3677 closed

[2021-01-22 19:00] #3340 closed

[2021-01-22 19:59] #3344 closed

[2021-01-22 20:04] #3375 closed

[2021-01-22 20:04] #3471 closed

[2021-01-22 20:06] #3501 closed

[2021-01-22 20:06] #3801 closed

[2021-01-23 00:05] #3548 closed

[2021-01-25 05:54] jianyexi commented on #3787
@timotheeguerin  I am wondering if you have any plan to publish a new version ?

[2021-01-25 15:15] kevin-weir opened #3803 "OpenAPI 3 Parsing Errors"
I'm using the latest version of AutoRest (3.0.6322) and have two separate parsing bugs to share with you when parsing the OpenApi document openapi.txt

[openapi.txt](https://github.com/Azure/autorest/files/5867258/openapi.txt)

When I run the following command against openapi.txt I get two separate parsing errors:

`autorest --debug --version=3.0.6365 --csharp --input-file=openapi.txt --output-fol

[2021-01-25 15:56] timotheeguerin commented on #3787
@jianyexi I have a PR out to renable automatic publishing of `autorest` and `@autorest/core`. Should hopefully get that merged today or I'll do a manual release

[2021-01-25 16:38] timotheeguerin commented on #3803
Hi @kevin-weir, found the issue for the first error, I have a PR up to fix it in the underlying package. For the 2nd issue this seems to be a problem with the `autorest.csharp` generator itself. I would create a new issue on this repo https://github.com/Azure/autorest.csharp for that.(Don't want to transfer this issue as it has the first problem which is autorest core problem.)

[2021-01-25 17:06] kevin-weir commented on #3803
Thanks Tim

[2021-01-25 19:59] #3798 closed

[2021-01-25 20:40] #3761 closed

[2021-01-25 22:29] timotheeguerin opened #3807 "Internal: Rush re-enable consistent version check"
Disabled this for migrating other packages to major package upgrade changes from the move.

In rush.json
[code]

[2021-01-26 23:41] jhendrixMSFT commented on #3661
Just hit this while testing some Go codegen.  The issue is due to swagger defining an enum as type "object", here's an example (there are several instances of this).

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json#L373

Presumably this is a swagger authoring error, please correct

[2021-01-28 23:06] #3693 closed

[2021-01-28 23:06] #3710 closed

[2021-01-28 23:07] #3619 closed

[2021-01-28 23:08] #3611 closed

[2021-01-28 23:11] #3506 closed

[2021-01-29 05:37] johanste opened #3817 "Autorest (modeler four?) is incorrectly assuming that omitting "type" implies "type": "object""
When you don't provide a "type" attribute for a model, modeler four is unhappy and tries to "fix" it by assuming that it is an "object". However, this is (to the best of my understanding) incorrect. Not including a "type" means that there is no validation/assertion as to what the type is.

[code]
See below for example swagger (yes, I know the same file exposes more than one issue :))

[code]

[2021-01-29 05:40] johanste opened #3818 "Autorest(modelerfour) doesn't handle circular dependencies in additionalProperties"
I have a self-referential recursive model definition. Autorest doesn't seem to like it.

[code]

See below for an example swagger that illustrates the issue...

[code]

[2021-01-29 17:37] timotheeguerin commented on #3817
Yeah looking at it, not including the type would mean that this is `any` type. I am guessing this was done for a few reason:
- Helping teams migrate with missing types.
- Not sure we support having a `any` type. It's something we'd have to discuss

[2021-01-29 17:42] timotheeguerin commented on #3817
However because this is used with `additionalProperties` which means that it is a `Dictionnary` as far as I understand and should have` type:"object"`https://swagger.io/docs/specification/data-models/dictionaries/?sbsearch=additionalProperties

[2021-01-29 17:45] timotheeguerin commented on #3818
Seems to be an issue with having `additionalProperties` referencing to a ref of itself.

This for example works
[code]

[2021-01-29 17:51] johanste commented on #3817
The example above is, in fact, trying to explore what the correct way (in swagger 2.0) is to add an actual `any` type. `additionalProperties` only applies if the type is an object, but it shouldn't imply that the type can *only* be an object. As with other validators, they only apply if the type matches what the validator applies to.

Now, swagger 2.0 has some consistency issues (from what I can t

[2021-01-29 18:47] jianghaolu commented on #3719
There are a couple of issues that are still unsolved:

1. What's the default behavior if `credential-scopes` isn't provided on cmd or in readme? Is there a default we fall back to?
2. What if the `credential-scopes` is a dynamic value dependent on the endpoint (like for storage blob, the scope would be `https://{account}.blob.windows.net/.default`.
3. How does our SDK adapt to other clouds or Azur

[2021-01-29 19:07] timotheeguerin commented on #3817
Actually we do support any, there is an `AnySchema` in m4, it can just be done without providing anything on it.

[code]

It is however still logging a warning

WARNING (Modeler/MissingType): The schema 'Any' has no type or format information whatsoever. Location:
   file:///C:/dev/azsdk/playground/swagger.json#/components/schemas/Any

[2021-01-29 19:25] johanste commented on #3817
Yeah, that should work - at least in openapi 3. It swagger 2.0, it was much more ambiguous as to what this means...

[2021-01-29 21:53] timotheeguerin commented on #3818
Hey @johanste could you confirm the PR fixes the issue for you. There is instruction here to test it locally
https://github.com/Azure/autorest/pull/3819#issuecomment-770067465

[2021-01-29 22:50] timotheeguerin opened #3821 "Deprecate old npm packages"
Deprecate packages that got renamed or shouldn't be used anymore
- [x] `@autorest/autorest`
- [x] `@azure-tools/codemodel`
- [x] `@azure-tools/autorest-extension-base`

[2021-02-01 05:34] jianyexi opened #3826 "Is there a doc about Modeler4 preCheck rules"
Currently , It's useful that there are modeler4 preCheck rules which can detect some swagger authoring warning or error,
But seems no documentation on how to fix or what's the impact.

[2021-02-01 22:20] #3818 closed

[2021-02-02 01:10] cxfll opened #3830 "Inconsistent property field naming"
Generated entity, property name is inconsistent with the original, the underline is lost, how can I configure it。

Examples：

        /// <summary>
        /// </summary>
        [JsonProperty(PropertyName = "GPS_GID")]
        public string GPSGID { get; set; }

        /// <summary>
        /// </summary>
        [JsonProperty(PropertyName = "GPS_ID")]
        public string GPSID { get; set; }

[2021-02-02 11:48] HS-Dave opened #3831 "return models generating as basic/generalised"
When I use autorest (3.0.6335) to generate a typescript client from my c# api, all my return models for api methods are quite basic with a body field and _response field with parsedBody inside etc. However, I noticed my co-worker's client provided more explicit models where he could say `var result = await api.someMethod(); doSomething(result.field1, result.field2); `

I can not find a way to alte

[2021-02-02 12:19] HS-Dave commented on #3831
I was wrong - this was resolved by adding the --v2 flag to my autorest call - glad it was something simple!

[2021-02-02 12:19] #3831 closed

[2021-02-02 15:50] timotheeguerin commented on #3830
Hi, @cxfll this is by design, autorest handles generation for many languages and convert naming to the convention of each language(PascalCase for c#). If you want to force keep this naming you can have this configuration:

You can add this configuration to the readme configuration.
[code]

[2021-02-02 16:36] iscai-msft commented on #3719
@jianghaolu didn't think about having a parameterized credential scope. I like the idea of adding `/.default` to the end of credential scopes and warning users this is what we're doing. It seems like a good default ;)

[2021-02-02 16:49] #3821 closed

[2021-02-02 19:51] iscai-msft opened #3835 "add information on a parameter if it is part of a multipart request"
Not blocked at all, this is an ask. Would be nice to include on the parameter's yaml data that it is part of a multipart request. Currently have code that works for this case, just wondering if m4 could add this code for me. Thanks!

[2021-02-02 21:39] apattath opened #3836 "Documentation link on how to use generated client for C# is broken"
**Describe the bug**
[code]

**Expected behavior**
Takes me to the documentation page for C# on how to use generated client.

[2021-02-02 23:34] timotheeguerin commented on #3836
We are in the process of rewritting docs. Those links were added as placeholder for where the docs will be. You can see the progress in that PR https://github.com/Azure/autorest.csharp/pull/962

[2021-02-02 23:34] #3836 closed

[2021-02-03 01:57] cxfll commented on #3830
Do you want to set the method globally, because I only use C#

[2021-02-03 16:36] timotheeguerin commented on #3830
Hey @ckfll I am not sure what you mean, here is the doc on how to use the configuration https://github.com/Azure/autorest/blob/master/docs/user/configuration.md

[2021-02-03 18:12] timotheeguerin opened #3839 "Revisit OpenAPI3 model"
Seems like @azure-tools/openapi describe what is expected for m4(after tree shaking and other plugins)
Should be rethought to have an actual openapi3 schema.

The issue with what we have right now is none of the plugins running on OpenAPI3 model have typings, they all use any

[2021-02-03 21:19] #3803 closed

[2021-02-03 21:48] #3807 closed

[2021-02-03 22:34] #3724 closed

[2021-02-04 15:29] mshasib commented on #3519
Any update on when this will be fixed?

[2021-02-04 19:02] #3839 closed

[2021-02-05 06:01] BlackRider97 commented on #3581
@stankovski  Please let us know if there is any configuration to do that.

[2021-02-05 11:18] molntamas commented on #3373
Is this not going to be fixed? Quite annoying issue.

[2021-02-05 19:30] ShivangiReja opened #3849 "Make autorest --csharp default to track2"
Currently `autorest --chsharp` default to [V2 version of C# generator](https://github.com/Azure/autorest/blob/master/packages/extensions/core/resources/plugin-csharp.md) and uses "@microsoft.azure/autorest.csharp" package. Now that we added command line support for track-2 C# generator, we should update the default to V3 C# generator and use "@autorest/csharp" package instead.

We can have --legac

[2021-02-05 19:34] ShivangiReja commented on #3849
CC: @daviwil @timotheeguerin @lmazuel

[2021-02-05 20:42] timotheeguerin commented on #3849
@ShivangiReja What version of the csharp package should I configure it to be?

[2021-02-05 20:44] timotheeguerin commented on #3849
also do you actually want to default to using v3 or should we just support the `--v3` flag and make it the default later.

[2021-02-05 20:46] daviwil commented on #3849
We want to make this package the new default for v3 like we did for TypeScript, Python, and Java

[2021-02-05 21:08] ShivangiReja commented on #3849
@timotheeguerin we can use [@autorest/csharp@3.0.0-beta.20210205.1](https://www.npmjs.com/package/@autorest/csharp/v/3.0.0-beta.20210205.1) version or above.

CC: @pakrym

[2021-02-06 20:54] jianghaolu opened #3851 "Optional enums with one value should not be of type CONSTANT"
If an enum is non-expandable and is required, it should be considered as a constant. But if it's optional, it's not quite a constant because sending a `null` on the wire has a different meaning than sending the only allowed value.

For example, Swagger
[code]

(from https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.BlobStorage/p

[2021-02-06 20:55] jianghaolu commented on #3851
Initially reported at https://github.com/Azure/autorest.java/issues/918

[2021-02-08 15:39] timotheeguerin commented on #3851
Hi @jianghaolu the model does say the parameter is not `required` I believe this should then be the job of the generator to make this parameter optional

[2021-02-08 19:50] timotheeguerin opened #3853 "Revisit use of node require"
require is being abused to load json files which is causing issues with webpack trying to load.
It also prevent typing.

Examples of issues:
- [x] `@azure-tools/extension` loading the `package.json`
- [x] inside core

[2021-02-08 19:52] #3753 closed

[2021-02-08 19:54] iscai-msft commented on #3718
python: currently, by default we don't generate any credentials. If you want to generate with a credential, we make users set flag `--add-credential`. By default, from this we generate a `TokenCredential`.

If you want to generate with an `AzureKeyCredential`, you also have to specify specify this through a credential default policy. You have to set `credential-default-policy-type=AzureKeyCredenti

[2021-02-08 19:55] tjprescott commented on #3718
We don't have any flags in Swift for this. Our initializers accept anything that conforms to the Credential protocol, whether supplied by AzureCore or the client SDK. It hasn't (yet) come up that we need to customize this.

[2021-02-08 20:24] #3835 closed

[2021-02-08 20:32] #3849 closed

[2021-02-08 21:41] seaki-msft opened #3854 "Renaming a definition using a custom transformation not working"
**Describe the bug**
This is for the [API Connector](https://github.com/Azure/Connectors) project. I am trying to rename one of the definitions using a custom transformation and it's not working. The below example is when I tried to remove a definition called `Queue` and hard-code a new definition called `AzureQueue`

- Link to swagger file: [azurequeues.json](https://github.com/Azure/Connectors/b

[2021-02-08 22:38] timotheeguerin opened #3855 "Support primitive array for x-ms-client-default"
Right now only primitive types are supported for default. But we should support arrays of primitive types which should not be hard to set in the generators.

[2021-02-08 22:43] chamons opened #3856 "Parameter with type string generates yaml with object schema"
After doing some digging on https://github.com/azure/autorest.csharp/issues/986 I've isolated a sample that @pakrym suggested was possibly an autorest issue.

Here is a [simplified test swagger](https://gist.github.com/chamons/fe395252f960bee052bceef2615f6744#file-foo-json-L47).

[code]

And here is [the generated yaml](https://gist.github.com/chamons/d62b4c5a4b1f7ce4e24a7d708b46332c#file-foo-yaml

[2021-02-08 22:48] timotheeguerin commented on #3854
Hhm, can't seem to reproduce, I get the right expected name in the model
![image](https://user-images.githubusercontent.com/1031227/107291215-aaac9e00-6a1c-11eb-8cee-67294b1b909f.png)

This is the config I used
[code]

[2021-02-09 00:18] srnagar commented on #3718
For Java, as @iscai-msft mentioned, we use `--credential-types` flag that accepts comma-separated values - `AzureKeyCredential` and `TokenCredential`.

 If `TokenCredential` is included in the values, we look at an additional flag `--credential-scopes` that again accepts a comma-separated list of scopes. If no scopes are set then `<endpoint>/.default` scope will be used.

[2021-02-09 01:02] timotheeguerin commented on #3854
Talked offline and using the built in `rename-model` directive solved the problem

[code]

[2021-02-09 01:02] #3854 closed

[2021-02-09 01:05] seaki-msft commented on #3854
Thanks for the help!

[2021-02-09 14:26] relaxpn opened #3859 "Autorest 3.0.6371 suddenly switched to V3 csharp extension"
Hi everyone,

I noticed a weird problem today on our Azure build pipeline. We generate a C# client for the portal that connect to our API and suddenly it broke without any changes from our side.

Looking at the logs, starting from the autorest_core@3.0.6371 version autorest decided that it will install the latest V3 beta C# package.

`Installing AutoRest extension '@autorest/csharp' (latest)`
`202

[2021-02-09 14:43] daviwil commented on #3859
We just changed the default version of the C# generator: https://github.com/Azure/autorest/pull/3850

To fix this issue, just add `--v2` to the command you use to invoke `autorest --csharp`.

[2021-02-09 14:43] #3859 closed

[2021-02-09 16:28] timotheeguerin opened #3861 "Configuration backlog of tests"
- [x] Test for overriding config with subsequent yaml code block in the same config file https://github.com/Azure/autorest/pull/3860
- [x] Verify `isRequested` works when passing `--use` from the command line
- [x] Plugins should be able to get `header-text`
- [x] Plugin configuration with `require` to another config file  can reference another plugin #3912
- [ ] Setup some regression testing for

[2021-02-09 17:18] timotheeguerin opened #3862 "Polymorphism, redefining properties with more specific definitions and code generation"
Right now there is some check rules that makes sure that if a property is redefined in a child type it doesn't change the type.
We should allow a more flexible approach

[code]

Here `firstName` and `issuingCountry` both redefine from `FormFields` -> `StringFormField` . This should be allowed

This is a cross-lanaguage support, current status
- [x] Autorest Core https://github.com/Azure/autorest/p

[2021-02-09 19:37] ShivangiReja commented on #3718
We should consider adding support for https://swagger.io/docs/specification/authentication/ properties in Autorest, so that autorest/modelerfour can pass the information to all the languages about what type of credentials we should generate.

CC: @daviwil @timotheeguerin @lmazuel

[2021-02-09 20:55] timotheeguerin commented on #3718
So the security settings of openapi are very flexible and here we are talking about about allowing a fixed set of authentication.
Now we could definitly make use of the security system using something like where we still manage the security definitions for the user(It is this hard coded list) and then they can reference the security this way
[code]

[2021-02-09 21:10] #3855 closed

[2021-02-09 21:14] #3625 closed

[2021-02-09 23:44] jianghaolu commented on #3851
Okay yeah I think with the `required` being false we can definitely do something on the codegen side.

One thing we still need is adding back the parameter grouping information - in this example, the `x-ms-parameter-grouping` information is lost - not sure if this is related to the `CONSTANT` schema type.

[2021-02-10 07:43] DerDani2081 opened #3867 "Autorest generates C# Client Sdk that needs a beta package"
Unfortunately autorest generates a project file that needs a **beta** nuGet package.

[code]

Of course, nuGet pack is not able to pack a project with beta or pre-release dependencies.

I use the latest version of autorest and this cli command:
` 'autorest --verbose --v3 --csharp --add-credentials --input-file="$(Build.ArtifactStagingDirectory)\definition-$(version).yaml" --output-folder="$(Build.

[2021-02-10 17:45] timotheeguerin commented on #3718
A proposition on for the spec of this change https://gist.github.com/timotheeguerin/3103e7dfa1be80d96bdcf392e76d5632

[2021-02-11 12:54] vsarunov opened #3873 "Process() cancelled due to exception : Cannot resolve pipeline stage 'identity'."
Not able to generate
[code]

**Expected behavior**
Generates expected files

**Additional context**

Command used via ps

&autorest --input-file=$filePath --output-folder=$generationPath --namespace=mynamespace --use-datetimeoffset --package-name=mypackage --version=latest

error debug level

[code]

Tried to use what is said in this thread https://github.com/Azure/autorest/issues/3693, still not

[2021-02-11 13:39] samjegal commented on #3873
I'm getting the same error.
Even if I compile myself, the same result is produced, and it seems that the `openapi-document` plugin cannot be loaded.

[code]

[2021-02-11 14:24] samjegal commented on #3873
I think the document/identity configuration file should be used as document/individual/identity. After testing this in the autorest.go package, it was confirmed that the error passed.

[2021-02-11 14:51] mbolesta opened #3874 "Error running autorest@3.0.6338 on node docker image"
**Describe the bug**
[code]

**Expected behavior**
AutoRest generates the proxy client.

**Additional context**
3.0.6336 works as expected.

[2021-02-11 15:38] rasmuschristensen commented on #3873
Are you targeting an ASPNET Core or ASPNET project? I had this issue targeting ASPNET and switched back to AutoRest V2 to solve it.... :(

[2021-02-11 15:52] mbolesta commented on #3874
Adding `--use=@microsoft.azure/autorest.csharp@2.3.79` to my command allowed me to work around the issue.

[2021-02-11 16:01] timotheeguerin commented on #3874
Hey @mbolesta does the docker image has dotnet installed and available on the path?

[2021-02-11 16:04] mbolesta commented on #3874
@timotheeguerin it does not, will that be a new requirement to generate a C# client?

[2021-02-11 16:08] timotheeguerin commented on #3874
I believe it is with the new csharp generator(v3), @pakrym can confirm the requirements for the v3 generator

[2021-02-11 16:11] timotheeguerin commented on #3873
Hi all,
The csharp generation was updated to default to use v3 recently, guessing this is the source of those issues.

are you still having this issue after running `autorest --reset`?

If so could you try adding `--use%3D@microsoft.azure/autorest.csharp@2.3.82` to revert to v2 and let us know if that solve the problem. If it does there might be some other issues in the configuration preventing th

[2021-02-11 16:22] pakrym commented on #3874
We have updated the default generator to the new version `V3`, which uses `@autorest/csharp` package and it will have few side effects:
   - It will generate code based on the [.NET SDK guidelines](https://azure.github.io/azure-sdk/dotnet_introduction.html), which will be totally different than the code generated by `V2` version.
   - dotnet core runtime 3.1+ is required to be available.
   - If y

[2021-02-11 16:30] mbolesta commented on #3874
@pakrym understood thanks!

[2021-02-11 16:30] #3874 closed

[2021-02-11 17:07] timotheeguerin commented on #3873
Believe we have found some issue, will keep you posted. In the meantime you can revert to v2 as shown above or I believe also specifying an older version of `@autorest/core` using `--version:` would solve the issue

[2021-02-11 17:07] daviwil commented on #3873
You can also just use `autorest --csharp --v2` without using the explicit version of `@microsoft.azure/autorest.csharp`

[2021-02-11 17:58] #3873 closed

[2021-02-11 18:49] timotheeguerin commented on #3873
The fix should be out, please use `@autorest/core`  version `3.0.6373`. Running `autorest --reset` and running your command again should pull the latest. Otherwise you can force it using `--version:3.0.6373`

[2021-02-11 23:05] bangbingsyb opened #3878 "AutoRest failed with vscode-jsonrpc error: Message header must separate key and value using"
**Describe the bug**
[code]
**Expected behavior**
Autorest runs successfully and generates the client for the sample API.

**Additional context**
I tried nodejs v12, v14, v15 and autorest all failed with the same error - not sure if it has anything to do with my setup?

Error:

autorest --input-file=pets.json --csharp --output-folder=sdk/ --namespace=pets
AutoRest code generation utility [**cli ve

[2021-02-11 23:38] timotheeguerin commented on #3878
Hi @bangbingsyb could you confirm the version of `dotnet` you have installed. I think the actual issue here is
[code]

which is a flag used on the dotnet start command for the chsarp generator v3

[2021-02-14 21:22] AlexGhiondea opened #3881 "CodeGen Improvements (January-June 2021)"
This tracks the work for CodeGen Improvements

[2021-02-14 21:23] AlexGhiondea opened #3882 "Low Level Client (January-June 2021)"
This tracks the work for Low Level Client

[2021-02-14 21:23] AlexGhiondea opened #3883 "ADL (January-June 2021)"
This tracks the work for ADL

[2021-02-14 21:24] AlexGhiondea opened #3884 "autorest (January-June 2021)"
This tracks the work for autorest.core

[2021-02-15 10:13] leni-msft opened #3885 "$ref to original location not found"
**Describe the bug**
When running the following command to generate Microsoft.Authorizaiton schemas, autorest pipeline failed at `openapi-document/emitter` (with `--debug`) :
[code]

Please provide as much information as you can. This would be:
- OpenAPI files having the issues:

- Autorest command used:

**Expected behavior**
The Microsoft.Authorization ARM Template schemas can be successfully ge

[2021-02-15 10:26] leni-msft commented on #3885
@timotheeguerin Would you be able to take a look?

[2021-02-16 18:21] timotheeguerin commented on #3885
Hey @leni-msft I have a fix could you confirm it works for you https://github.com/Azure/autorest/pull/3886#issuecomment-780024531

[2021-02-17 12:20] leni-msft commented on #3885
@timotheeguerin cool! it works~. Thanks for the quick fix!

[2021-02-17 18:57] tonianelope commented on #3885
Hi am having a similar issue where I have the following definition see below: (RenamedExampleProperty is refrencing the definition of Example as it is the same property only with a different name). But the PR doesn't fix the issue for me.
[code]

[2021-02-17 19:15] timotheeguerin commented on #3885
Hi @tonianelope could you open another issue with a swagger spec reproducing the erorr as this doesn't seem to be the exact same problem

[2021-02-17 19:59] chadlevn opened #3889 "Generation Behavior Change in C#"
After updating to 3.0.6373 overall code generation behavior in C# is vastly different. We now only see a single Client file generated and it is internal instead of public. Our Models now also include .Serialization files and the csproj is updated to use Azure.Core.

[code]

**Expected behavior**
Previously when generating it would build a code-model-v1 file, an interface with a public implementati

[2021-02-17 20:05] bangbingsyb commented on #3878
Awesome! Thanks for pointing out the root cause, @timotheeguerin . It was indeed a .NET core SDK version conflict. I resolved it by uninstalling the lower versions SDK. Thanks for your help!

[2021-02-17 20:05] #3878 closed

[2021-02-18 03:53] sarangan12 opened #3891 "[v3] Recording the input details in autorest"
There was request to the Typescript SDK Generator. The request is documented in the issue: https://github.com/Azure/autorest.typescript/issues/842.

Basically, the ask is to document all the versions (Autorest Version/Modeler Version), tags, overrides, input file names(with commit ids),  and other customer input documented in a separate file. But most of that information is stripped out by the cor

[2021-02-18 05:08] msyyc opened #3908 "[Python]Error when loading AutoRest core (3.0.6373)"
Error happened when using 'python -m packaging_tools.generate_sdk -v -m /_/azure-rest-api-specs/specification/confluent/resource-manager/readme.md'.
I notice it is ok when loading @autorest_core@3.0.6370. What should I do to pin the version to a stable version?
[code]

[2021-02-18 15:36] timotheeguerin commented on #3891
Hi @sarangan12, are you suggesting providing as part of the session a more define set of information that can be consumed?

[2021-02-18 16:05] tonianelope opened #3892 "Can't use $ref referencing another property #/definitions/Foo/properties/Bar"
**Describe the bug**
Json taken from swagger doesn't compile with $ref to original location not found
I am referencing the definition of another property, as it is the same type but renamed for this part of the API as I don't want to duplicate the defintion.
[code]

[code]
Issue is in: openapi-document/multi-api-merger
at MultiAPIMerger.updateRefs (@autorest\core\dist\src_lib_autorest-core_ts.js:4

[2021-02-18 18:42] MiYanni commented on #3629
@timotheeguerin The example you have above does not have extensible enums. You need `modelAsString: true` as seen in the docs here: https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-ms-enum

You're in luck. I found the swagger: https://github.com/Azure/azure-rest-api-specs/blob/1e23d91e875e4464e57667639e06408cef99868d/specification/schemaregistry/data-plane/Microsoft.EventH

[2021-02-18 20:05] TheOnlyWei opened #3895 "[Exception] No input files provided"
**Describe the bug**
The following error occurred when running "autorest" in the Azs.Backup.Admin Azure Stack module located in "...\Azure\azurestack-powershell\src\Azs.Backup.Admin". The result is no files are generated by autorest.

Here is the repository:
https://github.com/Azure/azurestack-powershell

[code]

**Expected behavior**
The module should build and not throw an exception as it did in

[2021-02-18 20:46] audunn commented on #3585
@daviwil  apologies for the late reply, yes indeed this does seem to fix the issue.

[2021-02-18 22:40] jhendrixMSFT commented on #3494
The problem here is that the track 1 Go code generator doesn't properly handle `x-ms-error-response` types (it's missing in the provided example but is implied).  @ArcturusZhang is working on the fix.

[2021-02-19 00:08] timotheeguerin commented on #3895
So this is actually the unexpected consequences of changing the order in which the configuration blocks are loaded so latter blocks can override previous blocks values.

The issue is that if you define the a alue in a block and try to use it in a condition in a later block it won't work.

In this case there is in this required file https://raw.githubusercontent.com/Azure/azure-rest-api-specs/maste

[2021-02-19 02:06] TheOnlyWei commented on #3895
Thanks @timotheeguerin, removing the condition worked for the module.

[2021-02-19 02:19] dolauli commented on #3895
The issue looks starting from autorest core 3.0.6372

[2021-02-19 02:42] jianyexi opened #3896 "Is there a documentation about pre-namer"
I run the modeler4 through cmd:
[code]
the output show the error:

[code]
If I run the above command with option: '--message-format=json' , the error detail even disappeared
[code]

If there is a document tell about how it woks , it will be useful for fixing the issue. Otherwise I need to try to guess what may causes this issue

[2021-02-19 03:39] timotheeguerin commented on #3896
Believe the issue here is that you have an anonymous schema https://github.com/Azure/azure-rest-api-specs/blob/a4bf7ce6447e7caf21edcb5a8c4c20e036b7a2a2/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2020-09-01-preview/mfe.json#L5710

which defaults its name to be `LabelingJobJobInstructions` but then autorest tries to remove the duplicate consequti

[2021-02-19 15:52] PeteW commented on #3583
I'm seeing this as well.

[2021-02-19 17:41] timotheeguerin commented on #3895
@TheOnlyWei could you give a try to this PR https://github.com/Azure/autorest/pull/3893#issuecomment-782222109 and let me know if that resolve the issue and confirm there isn't any new problems.

[2021-02-19 18:05] sarangan12 commented on #3891
Not as a part of codemodel. But as a part of session. such as ```session.userInput``` or ```session.inputConfig```

[2021-02-19 21:08] chamons opened #3897 "Extra (unnecessary?) type generated when processing url encoded body swagger"
**Describe the bug**

In [this PR](https://github.com/Azure/autorest.csharp/pull/1042) we found an extra type/class was generated:

`Paths14Hl8BdFormsdataurlencodedPetAddPetidPostRequestbodyContentApplicationXWwwFormUrlencodedSchema`

This was a minor annoyance for .NET, as we mark it internal, but might be more annoying for other languages.

[Swagger](https://github.com/Azure/autorest.testserver/

[2021-02-19 21:34] #3885 closed

[2021-02-19 22:31] timotheeguerin commented on #3892
I think here the issue is that the reference is to property of a definition instead of being a definition. I don't believe that is something that is supported at this point. I recommend you extract the `Example` property schema into its own definition

[2021-02-19 23:51] timotheeguerin commented on #3897
I think is this the same issue as #3668

[2021-02-20 00:19] alexhcheng opened #3899 "Issue with installing autorest@latest"
[code]

[2021-02-20 00:25] alexhcheng commented on #3899
manually installing from one of the releases works fine
[code]

[2021-02-20 00:46] pavelprystinka opened #3900 "Generate long running operation without public client"
[code]

**Expected behavior**
Would be nice to have a separate configuration flag for generating LRO classes without generating public client.

[2021-02-20 01:08] pavelprystinka opened #3901 "More failure details for LRO"
In case when long running operation is resulting in failure, client is only receiving a failed status.
It would be nice to have detailed information on the reason of failure: error code, description, inner details etc.

As a temporary solution Pull status update JSON response object is extended with an error property that in case of failure is populated with CommunicationError object:

"Communicat

[2021-02-20 14:30] spygi commented on #976
+1 to this feature.

Probably I am missing something but isn't this as simple as making all generated methods `virtual` so that they could be overwritten by mocks?

[2021-02-20 15:33] ImoutoChan commented on #3899
Have the same issue here

[2021-02-20 15:42] lansal15 commented on #2146
Anybody?

[2021-02-21 01:11] borota opened #3903 "v3 does not generate .Net clients"
**Prompted to upgrade AutoRest to latest. After upgrade no matter what I try generated code targets Azure only**
[code]
autorest readme.md
[code]
input-file: https://internal.site/api/swagger/docs/v0
output-folder: ..\..\OpenApi\Generated
add-credentials: true
use-internal-constructors: true
sync-methods: none
csharp:
  namespace: OpenApi
[code]

[2021-02-21 17:16] timotheeguerin commented on #3903
Hi @borota, not exactly sure what you mean by the code generate Azure only, could you detail more on that?

Chsarp generator was updated to using v3 recently, if you want to stick with v2 you can specify the `--v2` flag when running or in your configuration file `v2: true`

[2021-02-21 19:57] borota commented on #3903
@timotheeguerin the generated code targets azure, not plain .net. The client generated depends on Azure libraries, not on `Microsoft.Rest.ClientRuntime`. Meanwhile I headed over to `csharp` generator issues https://github.com/Azure/autorest.csharp/issues/1029 and it is admitted V3 is missing vanilla .NET support, if I get that epic right.
- V2
[code]
- V3
[code]
There doesn't seem to be any way ou

[2021-02-21 21:03] timotheeguerin commented on #3903
hhm, I see, I believe this is expected as v3 use a rewrite of all the core libraries and I don't think there is any non Azure planned. I'll transfer this issue to the autorest.csharp repo where they can confirm this.

[2021-02-22 07:20] lima-msft opened #3904 "Unable to find a valid AutoRest core package '@autorest/core' @ '~3.1.0'"
**Describe the bug**

Install latest autorest version and hit below failure. From https://github.com/Azure/autorest/releases, could not find 3.1.0 version for autorest-core
[code]

[2021-02-22 08:56] ArcturusZhang commented on #3494
@jhendrixMSFT my fix might fix this, but the swagger posted in the description does not mark `400` by `x-ms-error-response`, therefore my fix would not fix the swagger in the description.
Actually it is reasonable that autorest throws an error on the swagger in description.

[2021-02-22 12:59] vkuehn opened #3905 "Unclear Realse Version"
Just found out about this project and it looks interesting.

However it is not clear which version to use as the only version labelt latest is from 2017.
What is the latest release to be used in production ?

[2021-02-22 16:25] timotheeguerin commented on #3904
duplicate of #3904

[2021-02-22 16:25] #3904 closed

[2021-02-22 16:32] timotheeguerin commented on #3905
Hi @vkuehn autorest is composed of many packages. You can look into the packages folder. The main package of intrest would be

- `autorest` -> `packages/apps/autorest`  This is the cli
- `@autiorest/core` -> `packages/extensions/core` This is the main orchestrator of the entire app
- `@autiorest/modelerfour` -> `packages/extensions/modelerfour` This is what convert openapi into a new model designe

[2021-02-22 16:32] #3905 closed

[2021-02-22 16:38] iscai-msft commented on #3901
@pakrym @ShivangiReja I believe @pavelprystinka is referring to .net code

[2021-02-22 17:05] #3899 closed

[2021-02-22 17:17] timotheeguerin commented on #3899
Published a fix, please update `autorest` to `autorest@3.1.1`

[2021-02-22 17:24] timotheeguerin commented on #3896
I believe there seems to be some issues when error are thrown they don't get logged according to the message format.

[2021-02-22 17:24] #3830 closed

[2021-02-22 17:28] timotheeguerin commented on #3558
Hi, are you still having this issue? If so could you share what command you used?
Could you also try adding `--debug --verbose` arguments, that should log more information about the issue.

[2021-02-22 18:10] #3556 closed

[2021-02-22 18:20] timotheeguerin commented on #3551
Hi @ctaggart it seems to be some issue with your installed version of python
Seems like https://mattbanderson.com/so-you-hosed-your-mac-os-python-install/ might have information related to your issue

[2021-02-22 18:27] ctaggart commented on #3551
Thanks @timotheeguerin. That may be it. I do not have time to check, but will reopen if I hit the error again.

[2021-02-22 18:27] #3551 closed

[2021-02-22 18:59] pakrym commented on #3897
I don't think so. In that case, the schema is defined by the customer in the swagger. In this case, it's an artifact of the autorest transformations.

[2021-02-22 19:00] timotheeguerin commented on #3897
well it is arguable. In OpenAPI3 there is a schema like that

[2021-02-22 19:02] pakrym commented on #3897
I might be missing something. Can you refer to the openapi specification where it talks about explicitly defining schemas for urlencoded bodies?

[2021-02-22 19:04] timotheeguerin commented on #3897
As far as I understand in OpenApi3. You have a single entry for the schema `requestbody` and then you can define the schema per content type

https://swagger.io/docs/specification/describing-request-body/

[2021-02-22 19:07] pakrym commented on #3897
TIL. thank you

[2021-02-22 19:07] #3897 closed

[2021-02-22 19:27] poyyaren commented on #3904
you mean duplicate of #3899 ? Since #3904 is a self-reference....

[2021-02-22 19:37] timotheeguerin commented on #3904
yes sorry, good catch

[2021-02-22 19:58] Juliehzl opened #3907 "The default of an optional constant should be None"
For an optional enum type with only one item, we will expect the default value is None not `non-None` value.
Because with a `non-None` value, it will change the operation behavior, which is breaking change to customer.

`modelAsString` to true could resolve the issue, but adding such change will cause breaking change  to .Net SDK.
So we will hope python generator could fix the issue asap.

[2021-02-22 20:48] timotheeguerin commented on #3539
Hi, are you still having this problem? Could you share the swagger spec?

[2021-02-22 21:15] timotheeguerin commented on #3487
`@autorest/autorest` used to be a beta version of `autorest` it has been deprecated in npm to remove the confusion

[2021-02-22 21:15] #3487 closed

[2021-02-22 21:17] timotheeguerin commented on #3488
All the docs have been rewritten, docs for flags and configuration can be found here https://github.com/Azure/autorest/blob/master/docs/generate/flags.md

[2021-02-22 21:17] #3488 closed

[2021-02-22 21:24] timotheeguerin commented on #3483
Believe this is resolved in the latest csharp v3 generator
![image](https://user-images.githubusercontent.com/1031227/108772017-51129c00-7511-11eb-8ccc-d6a790a5baee.png)

[2021-02-22 21:24] #3483 closed

[2021-02-22 22:24] #3895 closed

[2021-02-22 22:33] timotheeguerin commented on #3895
The fix should be there. However as this change is quite large and could have other unexpected consequences, it won't be published to latest yet.
Please use version `3.1.0-dev.1`  using `--version:@autorest/core@3.1.0-dev.1`

[2021-02-23 00:55] TheOnlyWei commented on #3895
Hi @timotheeguerin, the build from https://github.com/Azure/autorest/pull/3893#issuecomment-782222109 worked when I ran:

[code]

[2021-02-23 01:08] banibrata opened #3910 "Error: Unable to find a valid AutoRest core package '@autorest/core' @ 'true'."
**Describe the bug**
[code]

**Expected behavior**
It should show the version

**Additional context**
Same outcome with both Windows and Ubuntu

[2021-02-23 05:52] dolauli commented on #3895
I believe it should be `--version:3.1.0-dev.2`. And with this version, I will run the issue as below.

[code]

[2021-02-23 06:00] timotheeguerin commented on #3895
@dalauli could you share what command line you used?

[2021-02-23 06:01] timotheeguerin commented on #3910
Autorest `--version` flag is to pick the version of `@autorest/core` it doesn't actually print the version itself. You can use `autorest --info` for information about all the plugins.

[2021-02-23 06:01] #3910 closed

[2021-02-23 06:10] timotheeguerin opened #3911 "3.1.0-dev.2 not finding modelerfour/identity stage"
Running

`autorest --powershell --version:3.1.0-dev.2 --help`.

Result in:
[code]

[2021-02-23 06:11] timotheeguerin commented on #3895
nvm, figured out, opened a seperate issue for that https://github.com/Azure/autorest/issues/3911

[2021-02-23 14:49] vkuehn opened #3913 "No Success with githubs own api"
**Describe the bug**
[code]

**Expected behavior**
create the generated folder as in the examples
not many Syntax errors

**Additional context**
Tried on Windows 10 in Powershell 7.1
Output starts with
AutoRest code generation utility [cli version: 3.1.1; node: v14.15.0, max-memory: 4096 MB]

[2021-02-23 16:29] pakrym opened #3914 "Content-Type header shouldn't be synthesized when an explicit one exists."
If the operation already has a Content-Type parameter defined we shouldn't add another one.

[2021-02-23 16:30] pakrym commented on #3914
https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-06-12/blob.json#L546

[2021-02-23 16:42] timotheeguerin commented on #3914
I think this is an invalid swagger

[code]

from https://swagger.io/docs/specification/describing-parameters/

[2021-02-23 16:43] pakrym commented on #3914
Yeah, but they need to be able to set the multipart boundary that contains a dynamically generated part:

[code]

[2021-02-23 17:02] timotheeguerin commented on #3914
Hhm, I see, so is that something they expect the user of the SDK to set or the generator is automatically going to generate an UUID for the boundary for them?

Wondering if the best option here is to allow specifying `Content-Type` for:
- All requests
- `Multipart/mixed` only
- Somehow have a way to specify the boundary for multipart request only

[2021-02-23 17:08] pakrym commented on #3914
The internal machinery of Storage.Blobs.Batch SDK formats the body and generates the boundary as part of that process.

We are not filtering or throwing because of this "invalid" parameter. I think it's the case where there is no reason to overcomplicate things. We should just disable the "Content-Type" synthesis logic when there is already a parameter like that and avoid having duplicates.

[2021-02-23 17:08] timotheeguerin commented on #3914
fair enough

[2021-02-23 17:31] 93mishra opened #3915 "Failed to install or start extension '@autorest/python' (latest)"
**Describe the bug**
Tried to generate connectedvsphere python sdk through autorest on Windows but getting error:  Failed to install or start extension '@autorest/python'

Please provide as much information as you can. This would be:

autorest azure-rest-api-specs-pr\specification\connectedvmwarevsphere\resource-manager\readme.md --python --python-sdks-folder=azure-sdk-for-python --python-mode=upd

[2021-02-23 17:59] timotheeguerin commented on #3914
@pakrym can you confirm this resolve the problem https://github.com/Azure/autorest/pull/3916#issuecomment-784384589

[2021-02-23 18:02] timotheeguerin commented on #3915
Hi, do you have python 3.6 or more installed? if so could you share the result of `python --version`

[2021-02-23 18:32] pakrym commented on #3914
The `tinyurl` versions do not seem to work.

[code]

[2021-02-23 18:37] timotheeguerin commented on #3914
hhm intresting, never had the tinyurl not work before. There is another build on its way

[2021-02-23 18:50] timotheeguerin commented on #3914
@pakrym this one should work https://github.com/Azure/autorest/pull/3916#issuecomment-784425882

[2021-02-23 19:05] pakrym commented on #3914
[code]

it looks like the M4 version is not being overriden.

[2021-02-23 19:05] pakrym opened #3917 "Autorest logs debug information at Information level"
[code]

[2021-02-23 19:12] timotheeguerin commented on #3914
Did you run `autorest --reset` before? I think we could resolve this annoyance by adding a suffix(with the commit id maybe) to the version build in a pr.

[2021-02-23 19:32] pakrym commented on #3914
Works 👍

[2021-02-23 19:35] joheredi opened #3919 "Unable to find a valid AutoRest core package '@autorest/core' @ 'true'."
After installing autorest, running `autorest --version` gives a couple of errors

![image](https://user-images.githubusercontent.com/21109913/108897731-44eb1500-75cb-11eb-8168-93e6d56baf14.png)

[2021-02-23 20:13] chamons opened #3920 "TypeError: value.indexOf is not a function"
After bumping to the latest dev, we're seeing a typeerror:

https://dev.azure.com/azure-sdk/public/_build/results?buildId=748819&view=logs&j=ac074fc7-7a1e-5636-a7ea-9c59e123a9ef&t=79ef76a9-b720-5417-f045-9a3cbd25ad16

[code]

[2021-02-23 20:15] chamons opened #3921 "New Duplicate Operation 'X' detected when bumping autorest"
From our CI after bumping autorest:

https://dev.azure.com/azure-sdk/public/_build/results?buildId=748819&view=logs&j=1a6ae1a5-56d5-51f8-8f8d-f67115b54b1a&t=937f187a-1519-5cb7-77a5-47832257e788

[code]

[2021-02-23 20:37] Yitzchok commented on #3919
I get the same error after doing a `autorest --reset`.

I tried with other versions of core and with and without NVS.

[2021-02-23 20:45] Yitzchok commented on #3919
I think this is related.

Running `autorest --v3` gives a yarn Syntax Error

[code]

[2021-02-23 21:10] trebconnell commented on #3915
I am also reproducing similar issue with csharp.
If I use flag ```--version=3.0.6320``` the issue is resolved.

Full output without --version:
[code]

[2021-02-23 22:04] timotheeguerin commented on #3915
@trebconnell I believe your issue is a different problem that has been resolved in the latest preview version. You could try `--version=3.1.0-dev.2`

[2021-02-23 22:55] timotheeguerin commented on #3919
`autorest --version` is used to select the version of `@autorest/core` you can use `autorest --info` to get info about the installed plugins

[2021-02-23 23:00] timotheeguerin commented on #3919
@Yitzchok could you open a different issue for your problem. It seems unrelated. Could you also let me know if using an older version of the cli `npm install -g autorest@3.0.6339` for example works?

[2021-02-23 23:01] #3919 closed

[2021-02-23 23:51] tasherif-msft opened #3927 "Blob generation failing with - unable to find schema"
While regenerating for the Blob package, we encountered an issue where autorest is attempting to lookup a given schema but is unable to.
The exception thrown isn't very clear on what it cannot find.
[code]
An approach to debugging this would be greatly appreciated 🙈

[2021-02-23 23:56] timotheeguerin commented on #3921
I think for this one it is due to some invalid configuration that result in multiple version of the same Api being loaded.

https://github.com/Azure/azure-rest-api-specs/blob/d9cf7c7ed3d674ebd482836e82b274014245ae67/specification/softwareplan/resource-manager/readme.md

![image](https://user-images.githubusercontent.com/1031227/108924422-770e6e00-75ef-11eb-921a-8302927c0ec2.png)
You can see here i

[2021-02-24 01:07] Yitzchok opened #3924 "Unable to find a valid AutoRest core package '@autorest/core' @ '~3.0.0'"
After doing `autorest --reset` no autorest extensions get installed

I tried with other versions of core and with and without NVS (with LTS and the latest versions of node).

I tried this with autorest@3.1.1 and autorest@3.0.6339

[code]

Moved from https://github.com/Azure/autorest/issues/3919#issuecomment-784494510

[2021-02-24 01:09] Yitzchok opened #3925 "Autorest fail to install package when yarn v2 is installed."
Might be related to https://github.com/Azure/autorest/issues/3924

Running `autorest --v3` gives a yarn Syntax Error

[code]

Moved from https://github.com/Azure/autorest/issues/3919#issuecomment-784499369

[2021-02-24 01:51] timotheeguerin commented on #3925
Hye @Yitzchok Do you have some readme file with some configuration? how is it deciding to install https://github.com/Azure/autorest/releases/download/autorest-core-3.0.6212/autorest-core-3.0.6212.tgz?

Also the global folder `--global-folder C:/Users/{{user}}/.autorest/@autorest_core@3.0.6212` contains `{{User}}` did you escape that to share the output or is this actually where it is trying to ins

[2021-02-24 01:51] #3914 closed

[2021-02-24 01:51] #3917 closed

[2021-02-24 01:51] #3920 closed

[2021-02-24 02:28] Yitzchok commented on #3925
My readme has

[code]

Not sure where it's getting v3.0.6212 from

The directory is good I replaced it in order to share it.

[2021-02-24 02:33] Yitzchok commented on #3925
The issue is if you have the latest version of yarn installed (yarn 2)

To reproduce this run these commands

[code]
(will put you on _yarn-2.4.0_ currently)

Now running `autorest` will still work if you have the packages installed
but if you run `autorest --reset` and then run `autorest` you will get the error above.

To go back to a good state use
[code]

Same issue as https://github.com/Azure/

[2021-02-24 02:43] timotheeguerin commented on #3925
hhm weird, autorest should come bundled with its own version of yarn

[2021-02-24 02:45] timotheeguerin commented on #3924
Closing as the root cause was found to be the same as #3925

[2021-02-24 02:45] #3924 closed

[2021-02-24 03:08] jianyexi commented on #3896
Have you figured out the cause of the issue ?

[2021-02-24 10:15] OlegoO commented on #3493
Do you have any feedback about it?

[2021-02-24 11:15] akak1977 commented on #3493
I'm trying to get around by applying custom transform:
[code]
But no luck, the type not changed.

[2021-02-24 20:36] tjprescott opened #3929 "linter gives wrong message for path syntax error"
**Describe the bug**
I was trying to generate a Swagger file that contained a syntax error. Specifically, the path did not start with `/`. However, instead, Autorest gave me the following error
[code]
It took a long time to diagnose (thanks @lmazuel or I would probably still be pulling my hair out!).

**Expected behavior**
It would be great if the linter called out the syntax error in the Swagger.

[2021-02-24 20:40] tjprescott opened #3930 "Breaking change in readme file format?"
**Describe the bug**
On MacOS, I was trying to generate a Python SDK. The README files for Python tend to use the variable `python-sdks-folder` and explicitly ask you to set that when generating.

However, when I supply this, autorest ignores it and generated my code in the `./generated` folder instead of what I specified.

If I use `--version:3.0.6337` then autorest picks up the value and generat

[2021-02-24 23:34] #3921 closed

[2021-02-25 00:13] timotheeguerin commented on #3930
Can you add `--debug --verbose` and share the full log? It seems like it isn't loading the `readme.python.md` file where it makes use of `python-sdks-folder`

[2021-02-25 00:42] #3925 closed

[2021-02-25 17:33] timotheeguerin commented on #3929
This one is interesting. the error comes from the json schema validator which expect properties to start with `x-` or `/` under `paths` hence the error when forgetting to start with `/`.

I guess we could remove this condition from the swagger JSON schema and maybe do the validation ourself(or just add some manual validation ourself first).

[2021-02-25 17:46] timotheeguerin commented on #3929
Been looking at what editor.swagger.com does and seems like they are using a different validator library that support custom messages so you can have errors like that. So I'll look into that
![image](https://user-images.githubusercontent.com/1031227/109194436-40029e80-774e-11eb-8759-3e0576a4af94.png)

[2021-02-25 18:54] tjprescott commented on #3930
Adding `--v3` with 6337 reverts to the broken behavior. I even tried hard coding the full path in the readme and autorest still ignored it and used its own path. Finally, I had to manually specify `--output-folder` with the python-sdks-folder and the rest of the path (essentially, what the readme should do) and that finally worked.